<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Kommuni')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        //->prependStylesheet($this->basePath('/css/zenburn.css'))
        ->prependStylesheet($this->basePath('/css/simple.css'))
        ->prependStylesheet($this->basePath('/css/reveal.min.css'))
        //->prependStylesheet($this->basePath('/plugin/font-awesome-4.3.0/css/font-awesome.min.css'))
        ->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'))?>

    <!-- Scripts -->
    <?php echo $this->headScript()//->prependFile($this->basePath('/plugin/print-pdf/print-pdf.js'))
                                  ->prependFile($this->basePath('/js/reveal.min.js'))
                                  ->prependFile($this->basePath('/bootstrap/js/bootstrap.min.js'))
                                  ->prependFile($this->basePath('/js/head.min.js'))
                                  ->prependFile($this->basePath('/js/jquery.tap.min.js'))
                                  ->prependFile($this->basePath('/js/jquery-1.11.1.min.js'))
                                  //->prependFile($this->basePath('/js/html5shiv.js'),'text/javascript', array('conditional' => 'lt IE 9',));?>
</head>
<body>
    <?php echo $this->content; ?>
</body>
</html>