<?php $this->layout('layout/admin'); ?>
<?php
$form = $this->form;
$this->form->setAttribute('action', $this->url('admin-user/default', array('controller' => 'user', 'action' => 'change-password', 'id' => $this->id)));
$this->form->prepare();

$fieldset = $form->get('user');
?>

    <section class="content-header">
        <h1>
            Gerenciamento de Usuários
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-home"></i> Início</a></li>
            <li><span>Usuário</span></li>
            <li><span>Alteração de senha</span></li>
        </ol>
    </section>

    <section class="content">

        <?php echo $this->alertMessage(); ?>

        <div class="row">

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box">
                    <div class="box-header with-border">
                        <i class="fa fa-pencil-square-o"></i>
                        <h3 class="box-title">
                            Alteração de senha
                        </h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <?php echo $this->form()->openTag($form) ?>
                    <div class="box-body">

                        <div class="form-group">
                            <?php echo $this->formHidden($form->get('security')) ?>
                            <?php echo $this->firstElementError($form->get('security')); ?>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                <?php echo $this->formlabel($fieldset->get('currentPassword')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('currentPassword')) ?>
                            <?php echo $this->firstElementError($fieldset->get('currentPassword')); ?>
                        </div>

                        <div class="form-group">
                            <label for="mail">
                                <?php echo $this->formlabel($fieldset->get('password')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('password')) ?>
                            <?php echo $this->firstElementError($fieldset->get('password')); ?>
                        </div>

                        <div class="form-group">
                            <label for="mail">
                                <?php echo $this->formlabel($fieldset->get('confirmation')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('confirmation')) ?>
                            <?php echo $this->firstElementError($fieldset->get('confirmation')); ?>
                        </div>

                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                        <a type="submit" href="<?php echo $this->url('admin-user/default', ['action' => 'edition', 'id' => $this->id]);?>" class="btn btn-default pull-left"><i class="fa fa-times"></i> Cancelar</a>
                    </div>
                    <?php echo $this->form()->closeTag() ?>
                </div><!-- /.box -->
            </div>
        </div>
    </section>