<?php $this->layout('layout/admin'); ?>
<?php 
$form = $this->form;
$this->form->setAttribute('action', $this->url('admin-user/default', array('controller' => 'user', 'action' => $this->action, 'id' => $this->id)));
$this->form->prepare();

$fieldset = $form->get('user');
?>

<section class="content-header">
    <h1>
        Gerenciamento de Usuários
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-dashboard"></i> Início</a></li>
        <li><a href="<?php echo $this->url('admin-user') ?>">Usuários</a></li>
    </ol>
</section>

<section class="content">

    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box">
                <div class="box-header with-border">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3 class="box-title">
                        <?php echo $this->action == 'new' ? 'Adicionar Usuário' : 'Editar Usuário';?>
                    </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <?php echo $this->form()->openTag($form) ?>

                <div class="box-body">

                        <div class="form-group">
                            <?php echo $this->formHidden($form->get('security')) ?>
                            <?php echo $this->firstElementError($form->get('security')); ?>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                <?php echo $this->formlabel($fieldset->get('name')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('name')) ?>
                            <?php echo $this->firstElementError($fieldset->get('name')); ?>
                        </div>

                        <div class="form-group">
                            <label for="mail">
                                <?php echo $this->formlabel($fieldset->get('mail')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('mail')) ?>
                            <?php echo $this->firstElementError($fieldset->get('mail')); ?>
                        </div>

                        <div class="form-group">
                            <label for="password">
                                <?php echo $this->formlabel($fieldset->get('password')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('password')) ?>
                            <?php echo $this->firstElementError($fieldset->get('password')); ?>
                        </div>

                        <div class="form-group">
                            <label for="confirmation">
                                <?php echo $this->formlabel($fieldset->get('confirmation')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('confirmation')) ?>
                            <?php echo $this->firstElementError($fieldset->get('confirmation')); ?>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                        <a class="btn btn-default" href="<?php echo $this->url('admin-user'); ?>" title="Cancelar edição"><i class="fa fa-times"></i> Cancelar</a>
                    </div>
                <?php echo $this->form()->closeTag() ?>
            </div><!-- /.box -->
        </div>
    </div>
</section>