<?php $this->layout('layout/admin'); ?>
<?php
$form = $this->form;
$this->form->setAttribute('action', $this->url('admin-user/default', array('controller' => 'user', 'action' => 'edition')));
$this->form->prepare();

$fieldset = $form->get('user');
?>

    <section class="content-header">
        <h1>
            Gerenciamento de Usuários
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-home"></i> Início</a></li>
            <li><span>Usuário</span></li>
        </ol>
    </section>

    <section class="content">

        <?php echo $this->alertMessage(); ?>

        <div class="row">

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box">
                    <div class="box-header with-border">
                        <i class="fa fa-pencil-square-o"></i>
                        <h3 class="box-title">
                            <?php echo $this->action == 'new' ? 'Adicionar Usuário' : 'Editar Usuário';?>
                        </h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <?php echo $this->form()->openTag($form) ?>
                    <div class="box-body">

                        <div class="form-group">
                            <?php echo $this->formHidden($fieldset->get('id')) ?>
                            <?php echo $this->formHidden($form->get('security')) ?>
                            <?php echo $this->firstElementError($form->get('security')); ?>
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                <?php echo $this->formlabel($fieldset->get('name')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('name')) ?>
                            <?php echo $this->firstElementError($fieldset->get('name')); ?>
                        </div>

                        <div class="form-group">
                            <label for="mail">
                                <?php echo $this->formlabel($fieldset->get('mail')) ?>
                            </label>
                            <?php echo $this->formInput($fieldset->get('mail')) ?>
                            <?php echo $this->firstElementError($fieldset->get('mail')); ?>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label for="active">
                                    <?php echo $this->formCheckbox($fieldset->get('active')) ?>
                                    Ativo
                                </label>
                            </div>
                        </div>

                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a class="btn btn-default pull-left" href="<?php echo $this->url('admin-index'); ?>" title="Cancelar edição"><i class="fa fa-times"></i> Cancelar</a>
                        <a class="btn btn-default" href="<?php echo $this->url('admin-user/default', ['action' => 'change-password']); ?>" title="Novo"><i class="fa fa-pencil"></i> Alterar Senha</a>
                    </div>
                    <?php echo $this->form()->closeTag() ?>
                </div><!-- /.box -->
            </div>
        </div>
    </section>