<?php
/** @var \Admin\Entity\Presentation $presentation */
$presentation = $this->presentation;?>
<?php if($this->presenter):?>
    <script>window.TYPE = 'PRESENTER';</script>
<?php else:?>
    <script>window.TYPE = 'SPECTATOR';</script>
<?php endif;?>

<div class="reveal">
    <div class="slides">
        <?php if(null === $presentation):?>
            <section>
                <img src="/images/kommuni.png" style="width: 680px; height: 200px;">
                <br />
                <div class="center">
                    <p style="font-family: 'Roboto Condensed', sans-serif; font-size: 1.125em; font-weight: bold; font-style: normal; text-decoration: none; color: rgb(102, 102, 102); text-align: center; padding-left: 0;">Aguarde o início da apresentação...&nbsp;</p>
                </div>
            </section>
        <?php else:?>
            <?php echo $presentation->getHtml(); ?>
            <section>
                <h1>FIM</h1>
                <?php if ($this->presentation->getDownloadPdf()):?>
                <div class="button-level">
                    <a href="<?php echo $this->url('app-print', ['id' => $presentation->getId(), 'token' => $presentation->getToken()]);?>" target="_blank">
                        <span class="btn-content"><i class="fa fa-arrow-circle-down"></i>Download PDF</span>
                    </a>
                    <div class="level green"></div>
                </div>
                <?php endif;?>
                <?php if($this->presenter):?>
                    <br />
                    <div>
                        <a class="btn btn-link btn-back-presentation" style="display: none;color:#367fa9;font-size:50%;text-decoration:underline;" href="<?php echo $this->url('admin-presentation')?>">Voltar ao Kommuni</a>
                    </div>
                <?php endif;?>
            </section>
        <?php endif;?>
    </div>

    <?php if(null !== $presentation):?>
        <input type="hidden" name="forbiddenwords" class="forbidden-words" value="<?php echo $presentation->getForbiddenWords();?>" />
        <input type="hidden" name="reportId" class="report-id" value="<?php echo $this->report;?>" />
        <input type="hidden" name="token" class="token" value="<?php echo $presentation->getToken();?>" />
    <?php endif;?>
    <div class="questions" style="display:none;"></div>
</div>

<script>
    url = '<?php echo $this->host;?>';

    <?php if($this->presenter):?>
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        mouseWheel: true,
        margin: 0.01,
        minScale: 0.5,
        maxScale: 2.0,
        width: 960,
        height: 700,
        slideNumber: true,

        // transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme

        // Optional libraries used to extend on reveal.js
        dependencies: [
            //{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            //{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            //{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            //{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            //{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'app/ratchet.js', async: true },
            { src: 'app/code.js', async: true },
            { src: 'plugin/multiplex-ratchet/master.js', async: true }
        ],

        multiplex: {
            secret: '13652805320794272084',
            id: '1ea875674b17ca76',
            url: url + '/slides'
        }
    });
    <?php else: ?>

        <?php if(null === $presentation):?>

            setInterval(function(){
                window.location.reload();
            }, 15000);
            Reveal.initialize({controls: false});

       <?php else: ?>

            Reveal.initialize({
                controls: false,
                history: false,
                keyboard: false,
                overview: false,
                touch: false,

                progress: true,
                center: true,

                //transition: 'linear', // default/cube/page/concave/zoom/linear/fade/none

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    //{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    //{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    //{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    //{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    //{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: 'app/ratchet.js', async: true },
                    { src: 'app/code.js', async: true },
                    { src: 'plugin/multiplex-ratchet/client.js', async: true }
                ],

                multiplex: {
                    secret: '13652805320794272084',
                    id: '1ea875674b17ca76',
                    url: url + '/slides'
                }
            });
        <?php endif;?>

    <?php endif;?>
</script>