<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Kommuni')->setSeparator(' - ')->setAutoEscape(false) ?>
    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                    ->prependStylesheet(BASE_URL . '/css/pdf.css', 'print')
    ?>

</head>
<body>
    <?php /** @var \Admin\Entity\Presentation $presentation */
    $presentation = $this->presentation;?>

    <div class="reveal">
        <div class="slides">
            <?php if(null === $presentation):?>
                <section>
                    <img src="/images/kommuni.png" style="width: 680px; height: 200px;">
                </section>
            <?php else:?>
                <?php echo $presentation->getHtml();?>
                <section class="finish">
                    <h1>FIM</h1>
                </section>
            <?php endif;?>

        </div>
    </div>
</body>
</html>
