.content-header {
  padding: 10px 15px 0 20px !important;

  #tab-menu .tab-content {
    background-color: #fff;
    padding: 0 0 10px 10px;

    .tab-pane .box-pannel {
      display: inline-block;
      margin-top: 10px;
      padding: 0 10px;
      border-right: 1px solid #ddd;
      text-align: center;

      .box-pannel-label {
        text-align: center;
        font-size: 11px;
        position: relative;
        bottom: -5px;
        margin: 5px 0 0 0;
      }

      .btn-default{
        &:active {
          background-color: transparent !important;
        }
      }

      select {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: auto;
      }

      &:first-of-type{
        padding-left: 0;
      }

      input[type=color]{
        height: 34px;
      }

      &.title{
        width: 369px;
      }
    }
  }
}

#insert-image {
  .table{

  }

  @media (min-width: 768px){
    .table {
      width: 700px;
    }
  }

  @media (min-width: 992px){
    .table {
      width: 840px;
    }
  }
}

.content.presentation {
  padding-top: 4px;

  #side-margin {
    position: relative;
    width: 100%;
    padding-left: 16%;

    #slide-edit {
      background-color: #fff;
      border: 1px solid #dfdfdf;
      margin: 10px auto;
      padding: 20px;
      width: 90%;
      font-size: 185%;

      section {
        min-height: 400px;
      }

      .editable{
        border: 1px dashed #ccc;
        margin: 3px 0;
        padding: 2px;

        &:hover{
          border-color: #666;
          .selected-controls{
            a{
              color: #666;
            }
          }
        }
        &.active{
          border: 2px dashed dodgerblue;
          padding: 1px;
        }

        .selected-controls{
          position: absolute;
          padding-right: 3px;
          width: 40px;
          height: 15px;
          //background-color: rgba(0,0,0,0.3);
          right: 70px;
          font-size: 12px;
          a{
            float: right;
            color: #ccc;
            margin-left: 5px;
          }
        }
      }

      .sortable-placeholder {
        border: 1px dashed #ccc;
        background: none;
        height: 50px;
      }

      [contenteditable="true"]:active,
      [contenteditable="true"]:focus{
        border:none;
        outline:none;
      }

      [contenteditable="true"]:focus::before{
        //content:"Edit Me!";
      }
      [contenteditable="true"]:focus > style{
        display:block;

      }
      [contenteditable="true"]:focus > style{
        display:block;
        font-size: .75em;
        color: #3c8dbc;
        font-family: courier, sans-serif;
        background: #fff;
        line-height: 1.5;
        position:relative;
        right: -36em;
        top:-2em;
      }
    }
  }

  #slide-list {
    position: absolute;
    width: 13%;
    overflow-y: scroll;
    top: 185px;
    bottom: 0;
    z-index: 10;
    border-right: 1px solid #ccc;
    font-size: 31% !important;

    section {
      height: 100px;
      background-color: #fff;
      border: 1px solid #dfdfdf;
      margin: 10px;
      padding: 5px;
      overflow: hidden;

      &:hover{
        border-color: #000;
      }

      &.active{
        border-color: #3c8dbc;
      }
    }

    .sortable-placeholder {
      height: 60px;
      margin: 10px;
      padding: 49px 5px;
      border: 1px dashed #333;
      background: none;
      vertical-align: middle;
      text-align: center;
      font-size: 10px;

      &:after {
        content: "mover aqui";
        color: #333;
      }
    }

    > section h1,
    > section h2,
    > section h3,
    > section h4,
    > section h5,
    > section h6,
    > section p,
    > section ul,
    > section li,
    > section br {
      margin: 0;
      padding: 0;
    }

    img{
      width: 16em!important;
      display: block;
    }
  }

  #add-slide{
    width: 11%;
    height: 20px;
    position: fixed;
    bottom: 0;
    background: rgba(42, 59, 81, 0.4);
    z-index: 100;
    padding-right: 15px;
    a{
      display: inline-block;
      width: 100%;
      color: #fff;
    }
  }
}

#slide-new .modal-dialog {
  width: 320px;
}

#insert-table .modal-dialog {
  width: 200px;

  input{
    width: 165px;
  }
}

#forbidden-words{
  width: 100%;
  height: 150px;
}

.loading{
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #367fa9;
  color: #fff;
  font-size: 14px;
  padding: 3px 10px;
  font-weight: bold;
  border: 1px double #fff;
}

/*********************************************
 * BUTTON!
 *********************************************/
/* line 127, ../sass/simple.scss */
.button {
  position: relative;
  display: table;
  margin: 20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 137, ../sass/simple.scss */
.button span {
  color: #ffffff !important;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  background-color: #367fa9;
  display: block;
  position: relative;
  padding: 40px 80px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=black, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #034d86;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #034d86;
  box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #034d86;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 162, ../sass/simple.scss */
.button span:active {
  top: 10px;
  background-color: #367fa9;
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #034d86;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #034d86;
  box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #034d86;
}

/* line 172, ../sass/simple.scss */
.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #222;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*********************************************
 * BUTTON LEVEL
 *********************************************/
/* line 191, ../sass/simple.scss */
.button-level {
  background-color: #367fa9;
  position: relative;
  display: table;
  margin: 0.2em auto !important;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 202, ../sass/simple.scss */
.button-level .level {
  bottom: 0;
  height: 0%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}
/* line 212, ../sass/simple.scss */
.button-level .level.blue {
  background: #3498db;
}
/* line 216, ../sass/simple.scss */
.button-level .level.green {
  background: #27ae60;
}
/* line 220, ../sass/simple.scss */
.button-level .level.red {
  background: #e74c3c;
}
/* line 224, ../sass/simple.scss */
.button-level .level.yellow {
  background: #f1c40f;
}
/* line 228, ../sass/simple.scss */
.button-level span.btn-content {
  color: #ffffff !important;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.5em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=black, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 0.3em 0 #034d86;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 0.3em 0 #034d86;
  box-shadow: inset 0 1px 0 #FFE5C4, 0 0.3em 0 #034d86;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  z-index: 99;
}
/* line 255, ../sass/simple.scss */
.button-level span:active {
  top: 10px;
  background-color: #367fa9;
  -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #034d86;
  -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #034d86;
  box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #034d86;
}

/* line 265, ../sass/simple.scss */
.button-level:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #222;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

// COLOR PICKER
.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}
.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}
.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div{
  height: 30px;
}

.color-picker .add-on {
  border: 1px solid #333333;
}

// COMPARTILHAR COM A APRESENTAÇÃO
.table-presentation{
  width: 100%;
  td{
    padding: 0.2em;
    border: 1px solid #ddd;
  }
}

.btn-runnable {
  background-color: #60D896 !important;
}

.btn-runnable:hover {
  background-color: #0CC35F !important;
}


