/*
 * Page: Login & Register
 * ----------------------
 */

.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  a {
    color: #444;
  }
}

.login-page,
.register-page {
  background-color: #222;
  background-image: url("/images/bg_login.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;

  .input-group-addon i{
    min-width: 15px;
  }
}

.login-box,
.register-box {
  width: 360px;
  margin: 10% auto;
  @media (max-width: @screen-sm) {
    width: 90%;
    margin-top: 20px;
  }
}

.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  color: #444;
  border-top: 0;
  color: #666;
  .form-control-feedback {
    color: #777;
  }
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}