<section>
    <h1>Essa palestra é INTERATIVA</h1>

    <h3><i class="fa fa-wifi"></i> palestra <i class="fa fa-link"></i> http://<?php echo $this->host;?></h3>
</section>

<section>
    <h2>COMUNIÇÃO INTERPESSOAL:</h2>
    <h2>COMO SER UM NERD DE SUCESSO NO MERCADO DE TRABALHO?</h2>
    <br />
    <P class="text-right">Palestrante: Carolina Bithencourt Rubin, msc</P>
    <P class="text-right">www.aempreender.com.br</P>
</section>

<section>
    <h2>INSTITUTO AEMPRENDER</h2>
    <p>O <b>Instituto AemPREENDER</b> foi idealizado com o objetivo de atender a uma demanda social cada vez mais em evidência, pautada na necessidade de desenvolvimento de perfis de liderança; proativos; dinâmicos e em constante processo de aperfeiçoamento, promovendo, desta forma, o crescimento social, cultural e econômico da sociedade.</p>
</section>

<section>
    <h2>INSTITUTO AEMPRENDER</h2>
    <p>Nosso entendimento parte de que, tanto o negócio, quanto o mercado de trabalho são consequências do perfil empreendedor dos sujeitos e que o empreendedorismo pode estar em qualquer campo social, iniciando, inclusive em nossas relações sociais ao longo da vida (FREIRE, 1991). Por esse motivo este não pode ser trabalhado deslocado da realidade.</p>
</section>

<section>
    <h2>INSTITUTO AEMPRENDER</h2>
    <p>Entendemos que  é através da inserção da pedagogia nas empresas como UM PROCESSO DE APERFEIÇOAMENTO DA APREDIZAGEM NO AMBIENTE CORPORATIVO que os gestores podem trabalhar mais ativos criticamente para melhor desempenho de suas funções, habilidades e competências.</p>
</section>

<section>
    <p>Na prática articulamos as necessidades da empresa e dos colaboradores junto à gestão do conhecimento, provocando mudanças nos profissionais envolvidos pelo processo de ensino! Formando assim cidadãos críticos e competentes para exercer sua funções.</p>
    <img src="images//comunicacao/01.jpg" />
</section>

<section>
    <img src="images//comunicacao/consultoria.png" />
</section>

<section>
    <h2>Dinâmica de apresentação em uma folha em branco escreva</h2>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <img src="images//comunicacao/criancas.jpg" />
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <br />
            <ul>
                <li><small>Nome (ou nickname), Curso e Fase</small></li>
                <li><small>O que é sucesso para você?</small></li>
                <li><small>O que você já viu de mais bacana na vida até hoje?</small></li>
                <li><small>O que você já viu de mais feio/ triste na vida até hoje?</small></li>
                <li><small>O que o faz levantar da cama todos os dias: Ou seja: O  que o motiva e faz viver ? (Não vale despertador, mãe/esposa, balde de água fria, etc)</small></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <img width="100%" src="images//comunicacao/jobs.jpg" />
</section>

<section>
    <h2>Sucesso e Comunicação?</h2>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <img src="images//comunicacao/02.png" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <br /><br />
            <ul>
                <li><small>Se pesquisarmos a etimologia da palavra, comunicação originária do latim “Comunicare” significa tornar comum, compartilhar e envolver (KLÜSENER, PINHEIRO e CRUZ, 2002).</small></li>
                <li><small>Nas últimas décadas, cientistas de diversas disciplinas de ciências humanas pesquisaram o processo da Comunicação, contribuindo com hipóteses e análises para a um apanhado geral de idéias que estudavam a comunicação entre indivíduos, como um processo social, concluíram assim, que sem ela a sociedade não existiria.</small></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <h2>Toda comunicação tem sua base na linguagem</h2>
    <p>A comunicação é um processo que utiliza os símbolos de linguagem como suporte para trocar informações.<p>
    <p>Existem apenas duas formas de linguagem: a linguagem verbal e a linguagem não verbal. (ORLANDI, 1986)</p>
</section>

<section>
    <h2>Linguagem verbal</h2>
    <p>É a linguagem oral ou escrita, esta linguagem recorre ao código verbal já que utiliza a palavra. Os indivíduos demonstram este código quando lêem, escrevem ou falam.</p>
    <p>A linguagem verbal é percebida em textos, relatórios, memorandos, circulares, e-mails, sites de Internet, intranet, reportagens, discursos, e em conversas informais nos corredores da empresa, por exemplo. (ORLANDI, 1986)<p>
</section>

<section>
    <h2>Linguagem não-verbal</h2>
    <p>Utiliza o código verbal para transmitir sua mensagem, ela utiliza outros códigos como o desenho, a dança, os sons, os gestos, a expressão fisionômica, mímicas, as cores, as vestimentas entre outros diversos recursos não verbais. (ORLANDI, 1986)<p>
</section>

<section>
    <h4>Surdo é surpreendido ao perceber que todos os moradores de seu bairro aprenderam língua de sinais para se comunicarem com ele</h4>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <img src="images//comunicacao/03.png" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <br /><br />
            <ul>
                <li><small>Muharrem foi surpreendido quando os moradores de seu bairro conversaram com ele na língua de sinais.</small></li>
                <li><small>Vídeo mostrando momento comovente vem repercutindo na internet.</small></li>
                <li><small>Em uma cena, Muharrem esbarra em uma mulher que pede desculpas a ele na linguagem de sinais, e quando eles entram em um táxi, o motorista diz “Olá” para eles, da mesma forma.</small></li>
                <br />
                <p><small>FONTE: <a href="http://www.gadoo.com.br/noticias/surdo-e-surpreendido-ao-perceber-que-todos-os-moradores-de-seu-bairro-aprenderam-lingua-de-sinais-para-se-comunicarem-com-ele/">http://www.gadoo.com.br/noticias/surdo-e-surpreendido-ao-perceber-que-todos-os-moradores-de-seu-bairro-aprenderam-lingua-de-sinais-para-se-comunicarem-com-ele/</a></small></p>
            </ul>
        </div>
    </div>
</section>

<section>
    <h4>Você já se perguntou por que as pessoas que trabalham no chão de fábrica das organizações sãodenominadas de “mão-de-obra”?</h4>
    <img src="images//comunicacao/04.jpg" />
</section>

<section>
    <h4>Você já se perguntou por que as pessoas quetrabalham no chão de fábrica das organizações sãodenominadas de “mão-de-obra”?</h4>
    <img src="images//comunicacao/05.jpg" />
    <p>Segundo Taylor (1967), os homens quando chegassem às fábricas deveriam deixar do lado de fora não apenas seu sobretudo, mas também seu cérebro.</p>
    <p>Considerava também que os conflitos existentes nas organizações eram uma demonstração de má gestão.</p>
</section>

<section>
    <h3>Dado, Informação e Conhecimento – Matérias primas para a comunicação</h3>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <img src="images//comunicacao/06.jpg" />
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <br /><br />
            <ul>
                <li><small>DADOS - são elementos brutos, sem significado, desvinculados da realidade. São a matéria-prima da informação.</small></li>
                <li><small>INFORMAÇÕES - são dados com significado, são dados interpretados com algum destino.</small></li>
                <li><small>CONHECIMENTOS - podem ser considerados como as informações processadas pelos indivíduos.</small></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <h3>Dados, Informação e Conhecimento</h3>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <img src="images//comunicacao/07.jpg" />
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <ul>
                <li><small>Para tomar decisões é importante ter disponíveis dados, informações e conhecimentos.</small></li>
                <li><small>As pessoas são a maior riqueza de uma organização pois sem a interpretação humana os dados são só dados e assim por diante.</small></li>
                <li><small>O processo de comunicação é uma seqüência de acontecimentos no qual dados, informações e conhecimentos são transmitidos de um emissor para um receptor.</small></li>
                <li><small>Os conceitos de dado, informação e conhecimento estão estritamente relacionados com sua utilidade no processo decisório e ligados ao conceito de comunicação.</small></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <h3>O Processamento dos dados, informação e conhecimento</h3>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <img src="images//comunicacao/08.jpg" />
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <ul>
                <li>Dotar os dados, as informações e os conhecimentos de significados não é um processo tão simples como parece.</li>
                <li>Características individuais que formam o <b>MODELO MENTAL</b> de cada pessoa interferem na codificação/decodificação dos mesmos acarretando muitas vezes distorções individuais que poderão ocasionar problemas no processo de comunicação.</li>
            </ul>
        </div>
    </div>
</section>

<section>
    <p>Miss Bumbum diz ter sido agredida após briga em boate de Cuiabá . Juliana denunciou agressão à polícia e caso é investigado</p>
    <img src="images//comunicacao/09.png" />
</section>

<section>
    <p>Comentários e modelos mentais</p>
    <img src="images//comunicacao/10.png" />
</section>

<section>
    <h2>Quais são seus modelos mentais?</h2>
    <img src="images//comunicacao/11.jpg" />
</section>

<section>
    <h2>Os aspectos facilitadores e inibidores da comunicação</h2>
    <p>Para estudar os elementos facilitadores e inibidores do processo da Comunicação Humana, Dias (2001) propôs uma estrutura de variáveis internacionais que segundo o autor tanto podem facilitar como inibir a comunicação.</p>
</section>

<section>
    <h2>Os aspectos facilitadores e inibidores da comunicação</h2>
    <p>Classificou estes fatores facilitadores ou inibidores da comunicação, em 6 (seis) grupos:</p>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 text-right">
            <img src="images//comunicacao/12.jpg" />
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <ol>
                <li>PESSOAL</li>
                <li>SOCIAL</li>
                <li>FISIOLÓGICO</li>
                <li>PERSONALIDADE</li>
                <li>LINGUAGEM</li>
                <li>PSICOLÓGICO</li>
            </ol>
        </div>
    </div>
</section>

<section>
    <h4>Fatores que podem facilitar ou inibir a comunicação humana</h4>
    <img src="images//comunicacao/13.png" />
</section>

<section>
    <h1>Momento de interarividade</h1>
</section>

<section class="poll" data-number="1">
    <h3>Teu grau de conhecimento e credibilidade pessoal perante o grupo</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="2">
    <h3>Tua Aparência Física</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="3">
    <h3>Tua Postura e movimento Corporal</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="4">
    <h3>Teu Contato Visual e expressão facial</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="5">
    <h3>Tua Fluência e articulação no discursol</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="6">
    <h3>Tua Modulação e ritmo da voz no discurso</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="7">
    <h3>Teu Timbre de voz</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="8">
    <h3>Tua Educação (Colégio, Faculdade, pais, etc).</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="9">
    <h3>Tua Cultura (Hábitos, criação rígida ou flexível, etc).</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="10">
    <h3>Tuas Crenças</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="11">
    <h3>Tuas regras sociais ou etiqueta social</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="12">
    <h3>Timidez</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="13">
    <h3>Extroversão</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="14">
    <h3>Tendência a ser reservado demais</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="15">
    <h3>Teus Dogmas religiosos</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="16">
    <h3>Tua Auto-suficiência</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="17">
    <h3>Teu Regionalismo (hábitos e culturas da região onde vive)</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="18">
    <h3>Uso de Palavras abstratas no discurso</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="19">
    <h3>Escolha de frases que causem desencontro de sentidos Ex: Tem não tem?</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="20">
    <h3>Generalização das palavras (Quando não se consegue separar as coisas entre si ou aspectos da realidade que só aparentemente são iguais. Ex: Bolo de mortos).</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="21">
    <h3>Uso de expressões extremas (Ex: todo mundo, nenhum)</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="22">
    <h3>Uso de Falsa identidade baseadas nas palavras (pensa que resume numa palavra ou expressão suas crenças, atitudes ou avaliações).</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="23">
    <h3>Utilização de vocábulos com dimensões polissêmicas (vários significados)</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="24">
    <h3>Redundância</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="25">
    <h4>Efeito de Halo: Se do seu discurso emergem palavras ou expressões que remetem para a generalização de uma pessoa, a partir de uma só das suas características. Ex a pessoa e estabanada, mas também é ágil, eficiente e agradável, mas o emissor fica apenas com a idéia de estabanada...</h4>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="26">
    <h3>Efeito Lógico (Tem tendência a associar duas características de um indivíduo, como se houvesse uma relação causal linear: se A, então B) Ex: Se ele é criativo é inteligente...</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="27">
    <h3>Estigmatização (Tende a enquadrar os outros em tipos sociais ou profissionais pré-determinados)</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="28">
    <h3>Falta de objetividade</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>

<section class="poll" data-number="29">
    <h3>Avaliar os outros e apreciá-los por projeção (Efeito Polarização)</h3>
    <div class="button-level" data-value="sim">
        <span>Facilitador (<b>0</b>)</span>
        <div class="level green"></div>
    </div>
    <div class="button-level" data-value="nao">
        <span>Inibidor (<b>0</b>)</span>
        <div class="level red"></div>
    </div>
</section>










<section>
    <h3>Você sabe para que serve a habilidade ou a competência de comunicação?</h3>
    <ul>
        <li>A COMUNICAÇÃO é uma competência necessária para transmitir informações e conhecimentos, de forma que o interlocutor se faça compreendido por qualquer sujeito, e em qualquer ambiente.</li>
        <li>Essa competência está ligada a saber ouvir e dar feedback, além de saber utilizar eficientemente os recursos de comunicação disponíveis na empresa.</li>
        <li>A comunicação é indispensável para apresentar informações de maneira clara e objetiva e manter todos os seus pares informados com relação a resultados alcançados, novidades e melhoramentos pertinentes. (RUBIN, 2011, p.37)</li>
    </ul>
</section>

<section>
    <h3>As competências e habilidades</h3>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 text-right">
            <img src="images//comunicacao/14.jpg" />
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
            <ul>
                <li>A palavra competência é utilizada para designar uma pessoa qualificada para realizar alguma atividade</li>
                <li>Porém, nos últimos anos, a academia e as organizações têm discutido o tema "competência" em diferentes níveis:</li>
                <ol>
                    <li>DAS PESSOAS</li>
                    <li>DAS ORGANIZAÇÕES</li>
                </ol>
                <li>Por isso temos que entender os principais tipos de competências, buscando compreender que estas são responsáveis pelo conhecimento, habilidades e atitudes necessários às pessoas e empresas para tornarem-se competitivas em um mercado cada vez  mais exigente.</li>
            </ul>
        </div>
    </div>
</section>

<section>
    <h2>A habilidade e a competência comunicacional</h2>
    <p class="text-left">A comunicação como competência tem como característica permitir um elo, uma espécie de conversação, entre comunicação e organização sugerindo uma alternativa viável para a re-elaboração das teorias organizacionais. Entende-se que a realidade organizacional pode ser determinada em parte pela percepção e perspectivas que se traça com relação a realidade e não pelos fenômenos que se observa, o que enfatiza a necessidade de se buscar novas perspectivas no ato de organizar o trabalho e as empresas, com o aopio da comunicação.</p>
</section>

<section>
    <p class="text-left">Krone, Jablin e Putnam (1982) enfatizaram a importância do claro reconhecimentode que a maneira como a perspectiva de comunicação humana ocorre, afeta os estudos de comunicação organizacional. Portanto, as questões que pesquizadores da comunicação organizacional escolhem para pesquisar é o método que utilizam na interpretação de dados são exatamente resultantes das perspectivas que cada um utiliza para visualizar a comunicação humana: perspectivas mecanicistas, psicológicas, simbólicas e as caracterizadas, como sistemas de interação. Assim o lócus da comunicação depende da posição que se utiliza para olhar a comunicação, ao invés de explicar o processo de comunicação.</q></p>
</section>

<section>
    <h3>Competências e habilidades</h3>
    <p class="text-left">As competências podem ser (LARA; SILVA, 2004):</p>
    <ul>
        <li><b>COMPETÊNCIAS TÉCNICAS/ PROFISSIONAIS:</b> específicas para uma operação, ocupação ou tarefa (desenho técnico, operação de um equipamento, finanças);</li>
        <li><b>COMPETÊNCIAS SOCIAIS:</b> saber ser, incluindo atitudes e comportamentos necessários para o relacionamento entre pessoas (comunicação, negociação e trabalho em equipe); ou</li>
        <li><b>COMPETÊNCIAS DO NEGÓCIO:</b> compreensão do negócio, seus objetivos, relações com o mercado, ambiente sociopolítico (conhecimento em negócio, planejamento, orientação para o cliente).</li>
    </ul>
</section>

<section>
    <img src="images//comunicacao/15.png" />
</section>

<section>
    <h3>Todos os 12 eixos de negócio necessitam que os sujeitos das organizações contemporâneas tenham ou desenvolvam minimamente a habilidade comunicacional</h3>
    <img src="images//comunicacao/16.jpg" />
</section>

<section>
    <img src="images//comunicacao/17.jpg" />
</section>

<section>
    <img src="images//comunicacao/18.jpg" />
</section>



