<section>
    <h1>Essa palestra é INTERATIVA</h1>

    <h3><i class="fa fa-wifi"></i> palestra <i class="fa fa-link"></i> http://<?php echo $this->host;?></h3>
</section>

<section>
    <h2>Porque realizar uma palestra interativa?</h2>
    <br />
    <ul>
        <li class="fragment">aumento do nível de atenção por conta da interatividade</li>
        <li class="fragment">melhor leitura dos slides através de dispositivos móveis</li>
        <li class="fragment">aumento de nível de interação entre as pessoas mais tímidas</li>
        <li class="fragment">avaliação obtida através dos resultados da apresentação.</li>
    </ul>
</section>

<section>
    <h2>Como isso é possível?</h2>
    <p class="fragment">HTML5</p>
    <p class="fragment">CSS3</p>
    <p class="fragment">Reveal JS</p>
    <p class="fragment">+</p>
    <p class="fragment">WebSockets!</p>
</section>

<section class="poll" data-number="2">
    <p>Você sabe o que é um WebSocket?</p>

    <div class="button-level" data-value="sim">
        <span>Sim (<b>0</b>)</span>
        <div class="level green"></div>
    </div>

    <div class="button-level" data-value="nao">
        <span>Não (<b>0</b>)</span>
        <div class="level yellow"></div>
    </div>

    <div class="button-level" data-value="pouco">
        <span>Ouvi falar (<b>0</b>)</span>
        <div class="level blue"></div>
    </div>
</section>

<section>
    <p><b>WebSocket</b> é uma tecnologia que permite a comunicação bidirecional por canais full-duplex sobre um único soquete Transmission Control Protocol (TCP). Ele é projetado para ser executado em browsers e servidores web que suportem o HTML5 , mas pode ser usado por qualquer cliente ou servidor de aplicativos.</p>
</section>

<section>
    <h2>O conceito é simples!</h2>
    <h3>Você envia objetos (mensagens) de um lado para o outro</h3>
</section>

<section>
    <img src="images/ratchet-flow.png" width="922" height="257" />
</section>

<section>
    <h2>Um socket tem:</h2>
    <ul>
        <li class="fragment">protocolo (TCP/IP)</li>
        <li class="fragment">endereço de origem : porta de origem (127.0.0.1:2000)</li>
        <li class="fragment">endereço de destino : porta de destino (8.8.8.8:23)</li>
    </ul>
</section>

<section>
    <h2>RFC 6455 - Dezembro de 2011</h2>
    <ul>
        <li class="fragment"><img src="images/google.jpg" width="271" height="96" /></li>
        <li class="fragment">Em 12 de Setembro de 2011 o Google Chrome 15 já implementava</li>
        <li class="fragment">The WebSocket Protocol enables two-way communication between a client
            running untrusted code in a controlled environment to a remote host
            that has opted-in to communications from that code.</li>
    </ul>
</section>

<section>
    <img src="images/handshake.png" width="640" height="279" />
</section>

<section>
    <h2>Vantagem de usar WebSockets:</h2>
    <ul>
        <li class="fragment">O servidor websocket pode ficar na mesma porta que o HTTP padrão, ele usa campos do cabeçalho HTTP distintos</li>
        <li class="fragment">Suporta um servidor rodando múltiplos domínios</li>
        <li class="fragment">Suporta proxies HTTP</li>
        <li class="fragment">WebSockets possuem sub protocolos => Sec-WebSocket-Protocol: chat</li>
    </ul>
</section>

<section>
    <h2>Socket.io</h2>
    <h3>Biblioteca para NodeJS de servidor de WebSockets</h3>
</section>

<section>
    <h2><img src="images/ratchet.png" width="64" height="64" /> Ratchet</h2>
    <h3>Biblioteca para PHP de servidor de WebSockets</h3>
</section>

<section>
    <h2>Para instalar é "muito" difícil!</h2>
    <pre><code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
            {
            "require": {
                "cboden/ratchet": "0.3.*"
            }
        }
        </code></pre>
</section>

<section>
    <h2 class="horn counter">0 / 0</h2>

    <div class="horn button">
        <span>Buzinar</span>
    </div>
</section>

<section>
    <h2>Servidor não deve acreditar nos dados recebidos!</h2>
    <img src="images/huhuhu.png" width="500" height="254"/>
</section>

<section>
    <h3>A lógica roda no servidor, nunca no cliente</h3>
</section>

<section>
    <h2>Mais nem tudo é perfeito...</h2>
    <img class="fragment" src="images/lag.gif" width="360" height="360"/>
</section>

<section>
    <h3>Lag <i class="fa fa-meh-o"></i></h3>
</section>

<section>
    <h3><i class="fa fa-tachometer"></i> Latência != Largura de Banda <i class="fa fa-truck"></i><i class="fa fa-truck"></i><i class="fa fa-truck"></i></h3>
</section>

<section>
    <h3>A Microsoft está próxima de uma solução</h3>
    <p>DeLorean produz quadros especulativos de resultados futuros possíveis, entregando-os ao cliente com antecipação.</p>
    <ol>
        <li>previsão ações futuras;</li>
        <li>amostragem de mudanças de espaço e tempo;</li>
        <li>compensação de previsão errada;</li>
        <li>a compressão da largura de banda.</li>
    </ol>
</section>

<section class="questions-slide">
    <h2>?</h2>
</section>

<section>
    <h2>Obrigado</h2>
    <br />
    <p><a href="https://twitter.com/gabrielrcouto" target="_blank">#palestrainterativa</a></p>
    <br />
    <div class="button">
        <span>Baixar PDF</span>
    </div>
</section>