<!-- <section>
    <h1>Essa palestra é INTERATIVA</h1>

    <h3><i class="fa fa-wifi"></i> palestra <i class="fa fa-link"></i> http://<?php //echo $this->host;?></h3>
</section> -->
<style type="text/css">
    h1,h2,h3,h4,h5,h6{
        font-weight: bold !important;
    }

    table{
        font-size: 80% !important;
    }
    
    body{
        background-image: url("images//tc1/kommuni.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 10%;
    }
</style>

<section>
    <table>
        <tr>
            <td>
                <img src="images//tc1/ies.jpg" style="margin: 0;" />
            </td>
            <td style="vertical-align: top;">
                <p><small>IESGF-SC : Instituto de Ensino Superior da Grande Florianópolis</small></p>
                <p><small>Campus I - Curso: Ciência da Computação</small></p>
            </td>
        </tr>
    </table>

    <br />
    <h2>Trabalho de Curso I</h2>
    <h3 style="color: #999;">Kommuni: Sistema de Criação e Apresentação de Palestras Interativas</h3>
    <br />
    <div style="float:right;">
        <table>
            <tr>
                <td><small>Alunos:</small></td>
                <td>
                    <p><small>André Luiz Haag</small></p>
                    <p><small>Diego Wagner</small></p>
                    <p><small>Gagriel Luiz da Silva</small></p>
                    <p><small>Tiago Zimmermann</small></p>
                </td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h3 class="text-left">Tópicos</h3>
    <ul class="pull-left">
        <li class="fragment">Introdução</li>
        <li class="fragment">Tema</li>
        <li class="fragment">Delimitação do Tema</li>
        <li class="fragment">Problematização do Tema</li>
        <li class="fragment">Hipóteses</li>
        <li class="fragment">Objetivos
            <ul>
                <li>Objetivo Geral</li>
                <li>Objetivos Específicos</li>
            </ul>
        </li>
        <li class="fragment">Metodologia</li>
        <li class="fragment">Comunicação</li>
        <li class="fragment">Barreiras de Comunicação</li>
        <li class="fragment">Comunicação Mediada por Tecnologias</li>
        <li class="fragment">Desenvolvimento da Ferramenta</li>
        <li class="fragment">Cronograma</li>
    </ul>
</section>

<section>
    <h3>Introdução</h3>
    <ul>
        <li>Motivação;</li>
        <li>Relevância;</li>
        <li>Carências.</li>
    </ul>
    <br /><br />
    <div>
        <img src="images//tc1/desanimada.jpg" style="margin: 0; width: 50%;" />
        <p><small>Figura 1: Platéia Desinteressada.</small></p>
        <p><small>Fonte: FERNANDES (2015)</small></p>
    </div>
</section>

<section>

    <h3>Tema</h3>
    <p>Sistema de Criação e Apresentação de Palestras Interativas</p>
    <br />
    <div class="fragment">
        <h3>Delimitação do Tema</h3>
        <ul>
            <li>Interação da plateia com o palestrante por intermédio de dispositivos conectados;</li>
            <!--<li>Ao fim da apresentação será possível realizar o download em PDF;</li>-->
            <li>A criação das apresentações será feita exclusivamente através da ferramenta;</li>
            <!--<li>O sistema suportará a conexão de até 30 (trinta) dispositivos simultaneamente;</li>-->
            <li>Não serão mantidos dados estatísticos das interações.</li>
        </ul>
    </div>
</section>

<section>
    <h3>Problematização do Tema</h3>
    <ul>
        <li>A comunicação é uma necessidade dos seres humanos;</li>
        <li>Muitos compartilhamentos de conhecimento são expostos em forma de palestras;</li>
        <li>Muitas vezes é necessidade utilizar outros recursos para facilitar o entendimento;</li>
        <li>O projeto justifica-se na dificuldade de encontrar ferramentas que auxiliem palestrantes em tornar suas apresentações atrativas e dinâmicas.</li>
    </ul>
</section>

<section>
    <h3>Hipóteses</h3>
    <ul>
        <li class="fragment">Com o uso da interatividade nas apresentações, o sistema proporcionará o aumento do nível de atenção da plateia ao assunto abordado;</li>
        <li class="fragment">O sistema proporcionará uma melhor leitura dos slides por meio de dispositivos móveis, facilitando assim a visualização para pessoas que estão distantes do apresentador;</li>
        <li class="fragment">O sistema auxiliará no aumento de interação de pessoas que possuem algum tipo de dificuldade em fala ou expressar suas ideias e opiniões causadas pela timidez;</li>
        <li class="fragment">O palestrante será beneficiado com a avaliação obtida por intermédio dos resultados da apresentação.</li>
    </ul>
</section>

<section>
    <h3>Objetivo Geral</h3>
    <p>Desenvolver uma solução para criação e exibição de apresentações por slides interativos, propondo uma maior aproximação entre palestrante e plateia.</p>
</section>

<section>
    <h3>Objetivos Específicos</h3>
    <ul>
        <li>Analisar o processo de criação das palestras apontando suas vantagens e desvantagens comparadas a ferramentas similares no mercado;</li>
        <li>Modelar a estrutura da ferramenta para o desenvolvimento;</li>
        <li>Desenvolver uma ferramenta que auxilie o palestrante a disseminar suas estratégias pedagógicas de forma intuitiva e interativa;</li>
        <li>Validar a ferramenta efetuando testes de campo em salas de aula, verificando assim tanto o nível de satisfação do palestrante como da plateia.</li>
    </ul>
</section>

<section>
    <!-- * aplicada e qualitativa * exploratótria -->
    <h3>Metodologia</h3>
    <ul>
        <li>A pesquisa pode ser definida como aplicada e qualitativa;</li>
        <li>Foco em pesquisa bibliográfica em livros sobre comunicação e tecnologias atuais de desenvolvimento;</li>
        <li>Objetivo geral da pesquisa do tipo exploratório.</li>
    </ul>
    <h3>Etapas</h3>
    <ul>
        <li>Levantamento bibliográfico e comparativo de softwares similares;</li>
        <li>Analise e levantamento de requisitos;</li>
        <li>Modelagem do software;</li>
        <li>Codificação;</li>
        <li>Testes</li>
    </ul>

</section>

<section>
    <h3>Comunicação</h3>
    <p class="fragment">Segundo Chaturvedi (2011), a comunicação trata de uma atividade dos seres humanos, que é transmitir opiniões e ideias.</p>
    <p class="fragment">Complementarmente Davis (1967, apud Singla, 2008), define a comunicação como o processo de passagem e compreensão da informação.</p>
</section>

<section>
    <h3>Barreiras de Comunicação</h3>
    <p class="fragment"><b>mecânica:</b> ocorrem quando algum meio relacionado ao fator físico dificulta ou impede que a comunicação ocorra;</p>
    <p class="fragment"><b>fisiológica:</b> relacionado a genética ou má formação de órgãos vitais;</p>
    <p class="fragment"><b>semântica:</b> uso inadequado da linguagem do emissor ao receptor;</p>
    <p class="fragment"><b>psicológica:</b> quando utilizado preconceitos ou estereótipos;</p>
</section>

<section>
    <h3>Comunicação Mediada por Tecnologias</h3>
    <p>Os recursos tecnológicos disponíveis atualmente procuram diminuir as dificuldades existentes pela distância física entre as pessoas e as barreiras de comunicação.</p>
    <ul class="fragment">
        <li>Chat;</li>
        <li>Forum;</li>
        <li>Listas de discussão;</li>
        <li>Videoconferências;</li>
        <li>Palestras.</li>
    </ul>
</section>

<section>
    <h3>Analise das Ferramentas Pesquisadas</h3>
    <table class="table table-bordered">
        <tr style="background-color: #eee;">
            <td><b>Ferramenta</b></td><td><b>Rede</b></td><td><b>Plataforma</b></td><td><b>Interatividade<b></td><td><b>Utilização<b></td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">Prezi</td><td>internet</td></td><td>multiplataforma</td><td>não</td><td>geral</td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">Socrative</td><td>internet</td><td>multiplataforma</td><td>sim</td><td>educação</td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">Powerpoint</td><td>-</td><td>Windows</td><td>não</td><td>geral</td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">LibreOffice Impress</td><td>-</td><td>multiplataforma</td><td>não</td><td>geral</td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">KeyNote</td><td>-</td><td>Apple</td><td>não</td><td>geral</td>
        </tr>
        <tr class="fragment" style="color: blue;">
            <td style="background-color: #eee;">Kommuni</td><td>local</td><td>multiplataforma</td><td>sim*</td><td>geral</td>
        </tr>
    </table>
    <p class="text-left fragment"><span><small>*Interatividade em tempo real.</small></span></p>
</section>

<section>
    <h4>Tecnologias Utilizadas no Desenvolvimento</h4>
    <img src="images//tc1/tecnologias.png" style="margin: 0;" />
</section>

<section>
    <h4>Estrutura da Solução</h4>
    <img src="images//tc1/arquitetura.png" style="margin: 0; width: 65%;" />
    <p><small>Figura 2: Estrutura da Solução.</small></p>
    <p><small>Fonte: Elaborado Pelos Autores (2015)</small></p>
</section>

<section class="poll" data-number="2">
    <p>Você acha interessante a possibilidade de interagir em uma apresentação?</p>

    <div class="fragment">
        <div class="button-level" data-value="sim">
            <span>Sim (<b>0</b>)</span>
            <div class="level green"></div>
        </div>

        <div class="button-level" data-value="nao">
            <span>Não (<b>0</b>)</span>
            <div class="level yellow"></div>
        </div>

        <div class="button-level" data-value="pouco">
            <span>Talvez (<b>0</b>)</span>
            <div class="level blue"></div>
        </div>
    </div>
</section>

<section>
    <h3>Análise de Viabilidade da Pesquisa</h3>
    <ul>
        <li>O projeto é viável?</li>
        <li>Não haverá nenhum custo finaceiro para o desenvolvimento do software.</li>
        <li>Aquisição de hardware.</li>
    </ul>
</section>

<section>
    <h3>Cronograma</h3>
    <table class="table table-bordered">
        <tr style="background-color: #eee;">
            <td><b>Especificações</b></td><td>Julho</td><td>Agosto</td><td>Setembro</td><td>Outubro</td><td>Novembro</td><td>Dezembro</td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">Requisitos</td><td style="background-color: #666;"></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">Modelagem</td><td></td><td style="background-color: #666;"></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">Codificação</td><td></td><td></td><td style="background-color: #666;"></td><td style="background-color: #666;"></td><td></td><td></td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">Testes</td><td></td><td></td><td></td><td style="background-color: #666;"></td><td style="background-color: #666;"></td><td></td>
        </tr>
        <tr class="fragment">
            <td style="background-color: #eee;">Apresentação</td><td></td><td></td><td></td><td></td><td></td><td style="background-color: #666;"></td>
        </tr>
    </table>
</section>

<section>
    <h3>Referências Bibliográficas</h3>
    <p class="text-left"><small>CARVALHO, Fábio Câmara Araújo e IVANOFF, Gregório Bittar. <b>Tecnologias que educam:</b> ensinar e aprender com as tecnologias de informação e comunicação. São Paulo, Pearson, 2010. ISBN: 9788576053675.</small></p>
    <p class="text-left"><small>CHATURVEDI, Matukesh P.D. <b>Business Communication:</b> concepts, cases and applications. Delhi: Dorling Kindersley, 2011.</small></p>
    <p class="text-left"><small>DAVIS, Flora. <b>A Comunicação Não-Verbal.</b> São Paulo: Summus, 1979.</small></p>
    <p class="text-left"><small>FERNANDES, André Bartholomeu. 8 hábitos de oratória que matam a sua credibilidade. <b>Jornal do Empreendedor.</b> Acesso em: 20/05/15 Disponível em: http://www.jornaldoempreendedor.com.br/destaques/inspiracao/8-habitos-de-oratoria-que-matam-a-sua-credibilidade#.VXTpdK0VhBd</small></p>
    <p class="text-left"><small>XIMENES, Sérgio <b>,Mini dicionário da língua portuguesa.</b> São Paulo, Edidouro, 2000. ISBN: 8500008350.</small></p>
</section>

<section>
    <h3>Bibliografia</h3>
    <p class="text-left"><small>ANGELONI, Maria Terezinha. <b>Comunicação Nas Organizações.</b> Palhoça: Livro Didático, 2007.</small></p>
    <p class="text-left"><small>BARROS, Juliana de Carvalho e SOUZA, Patrícia Nora. <b>Práticas discursivas de uma tutora em fóruns de discussão online</b>, jan. 2010. Disponível em: http://www.ufjf.br/revistaveredas/files/2011/05/ARTIGO-271.pdf>. Acesso em: 17 mai. 2015.</small></p>
    <p class="text-left"><small>BLIKSTEIN, Izidoro.  <b>Como falar em público:</b> técnicas de comunicação para apresentações. São Paulo, Ática, 2009. ISBN: 9788508105960.</small></p>
    <p class="text-left"><small>CARNEIRO, Mára Lúcia Fernandes. <b>Videoconferência - ambiente para educação à distância.</b> jan. 1999. Disponível em: http://penta.ufrgs.br/pgie/workshop/mara.htm>. Acesso em: 22 mai. 2015.</small></p>
    <p class="text-left"><small>CARVALHO, Fábio Câmara Araújo e IVANOFF, <b>Gregório Bittar. Tecnologias que educam:</b> ensinar e aprender com as tecnologias de informação e comunicação. São Paulo, Pearson, 2010. ISBN: 9788576053675.</small></p>
    <p class="text-left"><small>CHATURVEDI, Matukesh P.D. <b>Business Communication:</b> concepts, cases and applications. Delhi: Dorling Kindersley, 2011.</small></p>
    <p class="text-left"><small>DAVIS, Flora. <b>A Comunicação Não-Verbal.</b> São Paulo: Summus, 1979.</small></p>
    <p class="text-left"><small>DEFLEUR, Melvin L. e BALL-ROCKEACH Sandra. <b>Teorias da Comunicação de Massa.</b> Rio de Janeiro: Zahar, 1993.</small></p>
    <p class="text-left"><small>GIL, Antônio Carlos. <b>Como Elaborar Projetos de Pesquisa.</b> São Paulo: Atlas, 2002.</small></p>

</section>

<section>
    <h3>Bibliografia</h3>
    <p class="text-left"><small>GOMES, Fábio Lúcio Soares: <b>Videoconferência:</b> sistemas e aplicações. Belo Horizonte, Visual Books, 2003. ISBN: 8575021001.</small></p>
    <p class="text-left"><small>GUIMARÃES, F. Marques, FERNANDES Francisco.<b> Dicionário Brasileiro Globo. </b>São Paulo: Globo, 1998.</small></p>
    <p class="text-left"><small>GUIMARÃES, Thelma de Carvalho. <b>Comunicação e Linguagem.</b> São Paulo: Pearson, 2008, ISBN: 9788564574397.</small></p>
    <p class="text-left"><small>KAUARK, Fabiana da Silva; MANHÃES, Fernanda Castro; MEDEIROS, Carlos Henrique. <b>Metodologia da Pesquisa:</b> um guia prático. Bahia: Via Litterarum, 2010.</small></p>
    <p class="text-left"><small>KUNSCH, M. M. K. <b>Planejamento de Relações Públicas na Comunicação Integrada.</b> São Paulo: Summus, 2003.</small></p>
    <p class="text-left"><small>LAIGNIER Pablo e FORTES Rafael. <b>Introdução à História da Comunicação.</b> Rio de Janeiro: E-papers, 2009.</small></p>
    <p class="text-left"><small>MEDRANO, Jorge Arturo Villena. <b>Comunicação Organizacional Integrada:</b> alicerce intrínseco da economia de comunhão. São Paulo: Universidade de São Paulo, 2007.</small></p>
    <p class="text-left"><small>MIRANDA, Luciano.<b> Pierre Bourdieu e o Campo da Comunicação.</b> Porto Alegre: Edipurs, 2005.</small></p>
    <p class="text-left"><small>OLIVEIRA, Maria Helena <b>Cozzolino de. Metodologia da Linguagem.</b> São Paulo: Saraiva, 2007.</small></p>

</section>

<section>
    <h3>Bibliografia</h3>
    <p class="text-left"><small>PALLOF, Rena M. e PRATT, Keith.<b> Construindo Comunidades de Aprendizagem no Ciberespaço.</b> Porto Alegre: Artmed, 2002.</small></p>
    <p class="text-left"><small>PEASE, Allan & Barbara. <b>Desvendando os Segredos da Linguagem Corporal.</b> Rio de Janeiro: Sextante, 2005.</small></p>
    <p class="text-left"><small>PECIN, Giselle Dias Galindo. <b>A Construção do Conhecimento em Comunicação:</b> Esboço de Definição do Objeto de Estudo, mai. 2010. Disponível em: http://www.intercom.org.br/papers/regionais/sudeste2010/resumos/R19-0339-1.pdf>. Acessado em 30 de abril de 2015.</small></p>
    <p class="text-left"><small>PEREIRA, Ney. <b>Apresentações Empresariais Além da Oratória.</b> São Paulo, Elsevier, 2009.</small></p>
    <p class="text-left"><small>PINHO, José Benedito.<b> Journalismo na internet:</b> planejamento e produção da informação on-line. São Paulo, Summus, 2003. ISBN: 8532308414.</small></p>
    <p class="text-left"><small>PORTO, Tânia Maria Esperon. <b>As tecnologias de comunicação e informação na escola; relações possíveis… relações construídas.</b> jul. 2004 Disponível em: http://www.scielo.br/scielo.php?pid=S1413-24782006000100005&script=sci_arttext> Acesso em: 25 mai. 2015</small></p>
    <p class="text-left"><small>RAPAPORT Ruth. <b>Comunicação e Tecnologia no Ensino de Línguas.</b> Curitiba: Intersaberes, 2012, , ISBN: 9788582121283.</small></p>
    <p class="text-left"><small>SAMPAIO Adovaldo Fernandes. <b>Letras e memória: </b>uma breve história da escrita. São Paulo: Ateliê Editorial, 2009.</small></p>
</section>

<section>
    <h3>Bibliografia</h3>
    <p class="text-left"><small>SILVA, Siony: <b>A videoconferência como recurso de educação a distância.</b> mai/ago 2011. Disponível em: http://www2.ifsp.edu.br/edu/prp/sinergia/complemento/sinergia_2011_n2/pdf_s/segmentos/artigo_04_v12_n2.pdf>. Acesso em: 23 mai. 2015.</small></p>
    <p class="text-left"><small>SINGLA, R.K. <b>Business Studies:</b> Class XII. New Delhi: Vk Publications, ISBN: 9789380901299.</small></p>
    <p class="text-left"><small>SOARES, Donizete. <b>Educomunicação:</b> O que é isto?. São Paulo: Instituto de Educação e Cultura, 2006.</small></p>
    <p class="text-left"><small>SOUZA, Maria Carolina Santos de. <b>Produção do conhecimento em ead:</b> um elo entre professor – curso – aluno. Salvador, Bahia. 2004.</small></p>
    <p class="text-left"><small>WANG, Vanessa e SALIM Frank e MOSKOVITS Peter. <b>The Definitive Guide to HTML5 WebSocket.</b> New York, Apress, 2013, ISBN: 9781430247401.</small></p>
    <p class="text-left"><small>XIMENES, Sérgio.<b> Mini dicionário da língua portuguesa. </b>São Paulo, Edidouro, 2000. ISBN: 8500008350.</small></p>
</section>



