<?php echo $this->doctype(); ?>
<html>
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Kommuni') ?>
    <?php // Meta Tags
    echo $this->headMeta()
        ->setName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        ->setName('author', 'Andre Luiz Haag, Diego wagner, Gabriel Luiz da Silva, Tiago Zimmermman')
        ->appendHttpEquiv('copyright', 'TCC');
    ?>

    <?php // Le styles (are inserted in the order reverse)
    echo $this->headLink(
        array(
            'rel' => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath() . '/images/config.ico'
        )
    )
        // Bootstrap 3.3.4
        ->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'))
        // Font Awesome Icons
        ->prependStylesheet($this->basePath('/plugin/font-awesome-4.3.0/css/font-awesome.min.css'))
        // Theme style (AdminLTE 2.1.2)
        ->prependStylesheet($this->basePath('/css/AdminLTE.css'))
        // AdminLTE Skins. Choose a skin from the css/skins
        // folder instead of downloading all of them to reduce the load.
        ->prependStylesheet($this->basePath('/css/_all-skins.css'))
        /* HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> */
        //->prependStylesheet('//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        //->prependStylesheet('//oss.maxcdn.com/respond/1.4.2/respond.min.js')
        // <![endif]-->
    ?>

    <?php // Scripts (are inserted in the order reverse)
    echo $this->headScript()
        ->prependFile($this->basePath('plugins/masked-input/jquery.maskedinput.min.js'))
        ->prependFile($this->basePath('plugins/cookie/jquery.cookie.min.js'))
        // demo LTE
       // ->prependFile($this->basePath('/js/adminLTE/layout.js'))
        // SlimScroll 1.3.0
        //->prependFile($this->basePath('plugins/slimScroll/jquery.slimscroll.min.js'))
        // AdminLTE App
        //->prependFile($this->basePath('/js/adminLTE/app.js'))
        // FastClick
        ->prependFile($this->basePath('/plugin/fastclick/fastclick.min.js'))
        // Bootstrap 3.3.2 JS
        ->prependFile($this->basePath('/bootstrap/js/bootstrap.min.js'))
        // jQuery 2.1.4
        ->prependFile($this->basePath('/plugin/jQuery/jQuery-2.1.4.min.js'));
    //->prependFile($this->basePath('plugins/jquery/jquery-1.9.1.min.js'));
    ?>

</head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">

        <!-- Logo -->
        <a href="<?php echo $this->url('admin-index') ?>" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">K</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img src="/images/kommuni-logo.png" alt="Kommuni" /></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <?php //$imgs = $this->HImages('usuario', $this->UserIdentity()->getId() )?>
                            <?php if(isset($imgs['img'])): ?>
                                <img src="<?php //echo $imgs['imgPath'] . $imgs['img'] ?>" class="user-image" alt="Imagem do usuário" />
                            <?php else:?>
                                <img src="/images/user.png" class="user-image" alt="usuario" />
                            <?php endif;?>
                            <span class="hidden-xs"><?php echo $this->UserIdentity()->getName(); ?></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <?php //$imgs = $this->HImages('usuario', $this->UserIdentity()->getId() )?>
                                <?php if(isset($imgs['img'])): ?>
                                    <img src="<?php //echo $imgs['imgPath'] . $imgs['img'] ?>" class="img-circle" alt="Imagem do usuário" />
                                <?php else:?>
                                    <img src="/images/user.png" class="img-circle user-image-lg" alt="Imagem do usuário" />
                                <?php endif;?>
                                <p>
                                    <?php echo $this->UserIdentity()->getName(); ?>
                                    <small><?php echo $this->UserIdentity()->getMail(); ?></small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="pull-left">
                                    <a href="<?php echo $this->url('admin-user/default', array('action' => 'edition'))?>">
                                        <i class="fa fa-gear"></i>
                                        Configurar conta
                                    </a>
                                </div>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <!-- <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Bloquear</a>
                                </div> -->
                                <div class="pull-right">
                                    <a href="<?php echo $this->url('admin-logout');?>" class="btn btn-default btn-flat">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form -->
            <!-- <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Pesquisar..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form> -->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <?php echo $this->navigation('Navigation\Admin')->menu()->setPartial(array('partial/navigation-admin.phtml', 'menu_admin'))->render(); ?>
            <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <?php echo $this->content; ?>
    </div><!-- /.content-wrapper -->

    <!--<footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0 BETA
        </div>
        <strong>Copyright &copy; 2015-2015 <a href="http://www.ies.edu.br" target="_blank">IES - Ciência da Computação</a>.</strong> Todos os direitos reservados.
    </footer>-->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-wrench"></i></a></li>
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-paint-brush"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">

                <h3 class="control-sidebar-heading">Opções de Cor</h3>
                <ul class="list-unstyled clearfix">
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
                                <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Azul</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span>
                                <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Preto</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
                                <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Roxo</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
                                <span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Verde</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span>
                                <span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Vermelho</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
                                <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;">
                                    </span><span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin">Amarelo</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
                                <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px">Azul Light</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span>
                                <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px">Preto Light</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
                                <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px">Roxo Light</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
                                <span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px">Verde Light</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span>
                                <span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px">Vermelho Light</p>
                    </li>
                    <li style="float:left; width: 33.33333%; padding: 5px;">
                        <a href="javascript:void(0);" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
                                <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
                            </div>
                            <div>
                                <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px;">Amarelo Light</p>
                    </li>
                </ul>

            </div><!-- /.tab-pane -->

            <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
                <div>
                    <h3 class="control-sidebar-heading">Opções de Layout</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-layout="fixed" class="pull-right">
                            Layout fixo
                        </label>
                        <p><small>Ative o layout fixo. Você não pode usar layouts fixos e encaixotados em conjunto</small></p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-layout="layout-boxed" class="pull-right">
                            Layout encaixotado
                        </label>
                        <p><small>Ative o layout encaixotado</small></p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-layout="sidebar-collapse" class="pull-right">
                            Alternar barra lateral esquerda
                        </label>
                        <p><small>Alterne o estado da barra lateral à esquerda (aberto ou colapso)</small></p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-enable="expandOnHover" class="pull-right">
                            Expandir barra lateral ao focar
                        </label>
                        <p><small>Permite expandir a barra lateral ao passar o mouse quando em modo colapso</small></p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-controlsidebar="control-sidebar-open" class="pull-right">
                            Fixar esta barra
                        </label>
                        <p><small>Alterna o layout desta barra entre fixo junto ao conteúdo e sobreposto</small></p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <input type="checkbox" data-sidebarskin="toggle" class="pull-right">
                            Inverter cor desta barra
                        </label>
                        <p><small>Alterna entre cores escuras e claras a barra lateral direita</small></p>
                    </div>
                </div>
            </div>


        </div>
    </aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class='control-sidebar-bg'></div>
</div><!-- ./wrapper -->

<?php // Inline Scripts (are inserted in the order reverse)
echo $this->inlineScript()
    //->prependFile($this->basePath('plugins/cookie/jquery.cookie.min.js'))
    // demo LTE
    ->prependFile($this->basePath('/js/adminLTE/layout.js'))
    // SlimScroll 1.3.0
    //->prependFile($this->basePath('plugins/slimScroll/jquery.slimscroll.min.js'))
    // AdminLTE App
    ->prependFile($this->basePath('/js/adminLTE/app.min.js'))
    // FastClick
    //->prependFile($this->basePath('/plugin/fastclick/fastclick.min.js'))
    // Bootstrap 3.3.2 JS
    //->prependFile($this->basePath('/bootstrap/js/bootstrap.min.js'))
    // jQuery 2.1.4
    //->prependFile($this->basePath('/plugin/jQuery/jQuery-2.1.4.min.js'));
    //->prependFile($this->basePath('plugins/jquery/jquery-1.9.1.min.js'));
?>
</body>
</html>
