<?php echo $this->doctype(); ?>

<html>
    <head>
    <meta charset="UTF-8">
    <title>AdminLTE 2 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <?php // Le styles (are inserted in the order reverse)
    echo $this->headLink(
        array(
            'rel' => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath() . '/images/config.ico'
        )
    )
        ->prependStylesheet($this->basePath('/css/AdminLTE.css'))
        ->prependStylesheet($this->basePath('/plugin/font-awesome-4.3.0/css/font-awesome.min.css'))
        ->prependStylesheet($this->basePath('/bootstrap/css/bootstrap.min.css'))
    ?>

</head>
<body class="login-page">
<?php echo $this->content; ?>

<?php // Inline Scripts (are inserted in the order reverse)
echo $this->inlineScript()
    // Bootstrap 3.3.2 JS
    ->prependFile($this->basePath('/bootstrap/js/bootstrap.min.js'))
    // jQuery 2.1.4
    ->prependFile($this->basePath('/plugin/jQuery/jQuery-2.1.4.min.js'));
?>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>


</body></html>