<?php $this->layout('layout/login'); ?>
<?php
/** @var \Zend\Form\FormInterface $form */
$form = $this->form;
$form->setAttribute('action', $this->url('admin-login'));
$form->prepare();
?>

<div class="login-box panel">
    <div class="panel-heading">
        <img src="/images/kommuni.png"  style="width: 313px;margin: 0 auto;display: block;"/>
    </div>
    <div class="login-box-body">

        <?php echo $this->alertMessage(); ?>

        <?php echo $this->form()->openTag($form) ?>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <?php echo $this->formInput($form->get('mail')) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('mail')); ?>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                <?php echo $this->formInput($form->get('password')) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('password')); ?>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">ENTRAR</button>
            </div><!-- /.col -->
            <!--<div class="col-xs-8">
                <a href="#" class="btn btn-link">Recuperar senha</a>
            </div><!-- /.col -->
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div style="border-top: 1px solid#888; padding-top:15px;margin-top: 15px;">
                    Não tem uma conta?
                    <a href="<?php echo $this->url('admin-account');?>">Crie agora!</a>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag() ?>
    </div>
</div>