/*********************************************
 * QUESTIONS
 *********************************************/
.message {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 10px;
    padding: 10px;
}

/*********************************************
 * BUTTON LEVEL
 *********************************************/
.buttons {
    zoom: 0.527529;
    padding: 0 15% 50px 15%;
}

.button-level {
    background-color: #367fa9;
    position: relative;
    /* display: inline-block;*/
    margin: 35px !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.button-level .level {
    bottom: 0;
    height: 0%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

.button-level .level.blue {
    background: #3498db;
}

.button-level .level.green {
    background: #27ae60;
}

.button-level .level.red {
    background: #e74c3c;
}

.button-level .level.yellow {
    background: #f1c40f;
}

.button-level span.btn-content {
    color: #ffffff !important;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 40px 80px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=black, offx=0px, offy=1px);
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #034d86;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #034d86;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #034d86;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 99;
}

.button-level span:active {
    top: 10px;
    background-color: #367fa9;
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #034d86;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #034d86;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #034d86;
}

.button-level:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
