<?php $this->layout('layout/admin'); ?>

<?php
$this->headLink()
    ->prependStylesheet($this->basePath('plugins/file-upload/css/jquery.fileupload-ui.min.css'))
    ->prependStylesheet($this->basePath('plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css'))
    ->prependStylesheet($this->basePath('css/admin-presentation-edit.css'))
?>

<?php
$this->headScript()
    ->appendFile($this->basePath('plugins/file-upload/vendor/jquery.ui.widget.min.js'))
    ->appendFile($this->basePath('plugins/file-upload/tmpl.min.js'))
    ->appendFile($this->basePath('plugins/file-upload/load-image.min.js'))
    ->appendFile($this->basePath('plugins/file-upload/canvas-to-blob.min.js'))
    ->appendFile($this->basePath('plugins/file-upload/bootstrap-image-gallery.min.js'))
    ->appendFile($this->basePath('plugins/file-upload/jquery.iframe-transport.min.js'))
    ->appendFile($this->basePath('plugins/file-upload/jquery.fileupload.min.js'))
    ->appendFile($this->basePath('plugins/file-upload/jquery.fileupload-fp.min.js'))
    ->appendFile($this->basePath('plugins/file-upload/jquery.fileupload-ui.min.js'))
    ->appendFile($this->basePath('plugins/html5.sortable/html.sortable.min.js'))
    ->appendFile($this->basePath('plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js'))
    ->appendFile($this->basePath('js/admin-presentation-edit.js'));
?>

<?php
/** @var \Zend\Form\FormInterface $form */
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formInput($form->get('id'));
echo $this->formInput($form->get('name'));
echo $this->formInput($form->get('html'));
echo $this->formInput($form->get('forbiddenWords'));
echo $this->formInput($form->get('pollSlideIncrement'));
echo $this->formInput($form->get('buttonPollIncrement'));
echo $this->formInput($form->get('downloadPdf'));
echo $this->form()->closeTag();
?>

<!-- Content Header (Page header) -->
<section class="content-header">

    <div id="tab-menu">
        <!-- Nav tabs -->
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#tab-index" data-toggle="tab">PÁGINA INICIAL</a></li>
            <li><a href="#tab-insert" data-toggle="tab">INSERIR</a></li>
            <li><a href="#tab-presentation" data-toggle="tab">APRESENTAÇÃO</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="tab-index">
                <div class="box-pannel">
                    <button type="button" id="bt-fragment" class="btn btn-default control" data-property="class.fragment" title="O elemento é inicia oculto e é exibido posteriormente quando clicado em próximo" data-toggle="dropdown"><i class="fa fa-star-half-o"></i></span></button>
                    <p class="box-pannel-label">Fragmento</p>
                </div>
                <div class="box-pannel">
                    <select id="sl-font-family" class="form-control control" data-property="style.font-family">
                        <option value="'Arial', sans-serif">Arial</option>
                        <option value="'Open Sans', 'Arial', sans-serif">Open Sans</option>
                        <option value="'Helvetica Neue', Helvetica, Arial, sans-serif">Helvetica Neue</option>
                        <option value="'Roboto Condensed', sans-serif">Roboto Condensed</option>
                        <option value="'Times New Roman'">Times new Roman</option>
                    </select>
                    <select id="sl-font-size" class="form-control control" data-property="style.font-size">
                        <option value="0.5em">08</option>
                        <option value="0.625em">10</option>
                        <option value="0.75em">12</option>
                        <option value="0.875em">14</option>
                        <option value="1em">16</option>
                        <option value="1.125em">18</option>
                        <option value="1.5em">24</option>
                        <option value="2.25em">36</option>
                    </select>
                    <div class="btn-group">
                        <button type="button" id="bt-font-weight" class="btn btn-default control" data-property="style.font-weight" title="Negrito"><i class="fa fa-bold"></i></button>
                        <button type="button" id="bt-font-style" class="btn btn-default control" data-property="style.font-style" title="Itálico"><i class="fa fa-italic"></i></button>
                        <button type="button" id="bt-text-decoration" class="btn btn-default control" data-property="style.text-decoration" title="Sublinhado"><i class="fa fa-underline"></i></button>
                    </div>

                    <button type="button" class="color-picker btn btn-default control" data-property="style.color">
                        <span class="add-on color" title="Cor da fonte"><i></i></span>
                    </button>

                    <p class="box-pannel-label">Fonte</p>
                </div>
                <div class="box-pannel">
                    <div class="btn-group">
                        <button type="button" id="bt-text-align-left" class="btn btn-default control" data-property="style.text-align" data-value="left" title="Alinhar Texto à Esquerda"><i class="fa fa-align-left"></i></button>
                        <button type="button" id="bt-text-align-center" class="btn btn-default control" data-property="style.text-align" data-value="center" title="Centralizar"><i class="fa fa-align-center"></i></button>
                        <button type="button" id="bt-text-align-right" class="btn btn-default control" data-property="style.text-align" data-value="right" title="Alinhar Texto à Direita"><i class="fa fa-align-right"></i></button>
                        <button type="button" id="bt-text-align-justify" class="btn btn-default control" data-property="style.text-align" data-value="justify" title="Justificar"><i class="fa fa-align-justify"></i></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="bt-padding-left-increase" class="btn btn-default control" data-property="style.padding-left" data-value="increase" title="Aumentar Recuo"><i class="fa fa-indent"></i></button>
                        <button type="button" id="bt-padding-left-decrement" class="btn btn-default control" data-property="style.padding-left" data-value="decrement" title="Diminuir Recuo"><i class="fa fa-outdent"></i></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" title="Espaçamento entre linhas" data-toggle="dropdown"><i class="fa fa-arrows-v"></i><i class="fa fa-align-left"></i><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Simples</a></li>
                            <li><a href="#">1,15</a></li>
                            <li><a href="#">1,5</a></li>
                            <li><a href="#">Duplo</a></li>
                        </ul>
                    </div>
                    <p class="box-pannel-label">Parágrafo</p>
                </div>
                <div class="box-pannel">
                    <button type="button" class="bg-color-picker btn btn-default control" data-property="data.data-background" data-target="slide">
                        <span class="add-on color" title="Cor de fundo do slide"><i></i></span>
                    </button>
                    <button type="button" id="bt-background-image-slide" class="btn btn-default" title="Imagem de fundo" data-toggle="modal" data-target="#insert-image"><i class="fa fa-picture-o"></i></button>
                    <p class="box-pannel-label">Plano de fundo</p>
                </div>
            </div>

            <div class="tab-pane" id="tab-insert">
                <div class="box-pannel">
                    <button type="button" id="bt-slide-new" class="btn btn-default" title="Novo Slide" data-toggle="modal" data-target="#slide-new"><i class="fa fa-plus"></i></button>
                    <button type="button" id="bt-slide-delete" class="btn btn-default" title="Excluir Slide"><i class="fa  fa-trash-o"></i></button>
                    <p class="box-pannel-label">Slides</p>
                </div>
                <div class="box-pannel">
                    <button type="button" id="bt-insert-title" class="btn btn-default" title="Título"><i class="fa fa-font"></i></button>
                    <p class="box-pannel-label">Título</p>
                </div>
                <div class="box-pannel">
                    <button type="button" id="bt-insert-paragraph" class="btn btn-default" title="Texto"><i class="fa fa-align-justify"></i></button>
                    <p class="box-pannel-label">Texto</p>
                </div>
                <div class="box-pannel">
                    <button type="button" id="bt-insert-question" class="btn btn-default" title="Quastão"><i class="fa fa-question"></i></button>
                    <p class="box-pannel-label">Questão</p>
                </div>
                <div class="box-pannel">
                    <button type="button" id="bt-insert-ul" class="btn btn-default" title="Lista com marcadores"><i class="fa fa-list-ul"></i></i></button>
                    <button type="button" id="bt-insert-ol" class="btn btn-default" title="Lista numerada"><i class="fa fa-list-ol"></i></i></button>
                    <p class="box-pannel-label">Lista</p>
                </div>
                <div class="box-pannel">
                    <button type="button" class="btn btn-default" title="Tabela" data-toggle="modal" data-target="#insert-table"><i class="fa fa-table"></i></button>
                    <p class="box-pannel-label">Tabela</p>
                </div>
                <div class="box-pannel">
                    <button type="button" id="bt-insert-image" class="btn btn-default" title="Inserir Imagem" data-toggle="modal" data-target="#insert-image"><i class="fa fa-picture-o"></i></button>
                    <p class="box-pannel-label">Imagem</p>
                </div>
            </div>

            <div class="tab-pane" id="tab-presentation">
                <div class="box-pannel title">
                    <input type="text" id="txt-titulo" class="form-control" />
                    <p class="box-pannel-label">Título</p>
                </div>
                <div class="box-pannel">
                    <select id="sl-transition" class="form-control control" data-property="data.data-transition" data-target="slide">
                        <option value="none">Nenhuma</option>
                        <option value="fade">Esmaecer</option>
                        <option value="slide">Deslizar</option>
                        <option value="convex">Convexo</option>
                        <option value="concave">Concavo</option>
                        <option value="zoom">Zoom</option>
                    </select>
                    <p class="box-pannel-label">Transição</p>
                </div>
                <div class="box-pannel">
                    <input type="checkbox" id="bt-download-pdf" class="btn btn-default" title="Inserir botão para download em PDF da apresentação" />
                    <p class="box-pannel-label">Download PDF</p>
                </div>
                <div class="box-pannel">
                    <button type="button" id="bt-moderator" class="btn btn-default" data-toggle="modal" data-target="#modal-moderator" title="Configurar moderação de palavras da sessão de perguntas"><i class="fa fa-filter"></i></button>
                    <p class="box-pannel-label">Moderador</p>
                </div>
                <div class="box-pannel">
                    <button type="button" id="bt-save" class="btn btn-default" title="Salvar apresentação"><i class="fa fa-floppy-o"></i></button>
                    <a id="bt-preview" target="_blank" class="btn btn-default" href="<?php echo $this->url('app-presentation/default',   ['action' => 'preview',  'user' => $this->UserIdentity()->getId(), 'token' => $this->presentation->getToken()]); ?>" title="Pré visualização"><i class="fa fa-eye"></i></a>
                    <a id="bt-statistics" class="btn btn-default" href="<?php echo $this->url('admin-statistics/default', ['action' => 'view',   'id' => $this->presentation->getId()]); ?>" title="Estatísticas desta apresentação"><i class="fa fa-bar-chart"></i></a>
                    <a class="start-presentation btn btn-default <?php echo $this->presentation->isRunnable() ? 'btn-runnable' : null;?>" href="#" data-toggle="modal" data-target="#modal-start" data-token="<?php echo $this->presentation->getToken();?>"><i class="fa fa-play"></i></a>
                    <p class="box-pannel-label">Apresentação</p>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Main content -->
<section class="content presentation">
    <div id="slide-list">

    </div>

    <div id="add-slide" class="text-center">
        <a href="#" data-toggle="modal" data-target="#slide-new">
            <i class="fa fa-plus"></i>
        </a>
    </div>

    <div id="side-margin">
        <div id="slide-edit">

        </div>
    </div>

    <!-- Modal new slide -->
    <div class="modal fade" id="slide-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Novo Slide</h4>
                </div>
                <div class="modal-body">
                    <p>Selecione o tipo:</p>
                    <div class="text-center">
                        <a id="bt-slide-common" class="btn btn-app" data-dismiss="modal">
                            <i class="fa fa-align-justify" ></i> Comum
                        </a>
                        <a id="bt-slide-poll" class="btn btn-app" data-dismiss="modal">
                            <i class="fa fa-question"></i> Questão
                        </a>
                        <a id="bt-slide-chat" class="btn btn-app" data-dismiss="modal">
                            <i class="fa fa-comments-o"></i> Perguntas
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal insert table -->
    <div class="modal fade" id="insert-table" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Inserir tabela</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="control-group">
                            <label class="control-label">Linhas<input type="number" id="input-table-row" class="form-control" min="1" max="20" /></label>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Colunas<input type="number" id="input-table-col" class="form-control" min="1" max="20" /></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="bt-insert-table" class="btn btn-default">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Moderador -->
    <div class="modal fade" id="modal-moderator" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Palavras proibidas</h4>
                </div>
                <div class="modal-body">
                    <textarea id="forbidden-words" placeholder="Informe aqui as palavras que serão proibidas na sessão de perguntas durante a apresentação"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" id="bt-save-moderator" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal insert image -->
    <div class="modal fade" id="insert-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Imagens</h4>
                </div>
                <div class="modal-body">
                    <?php $id = '1'; /*($this->action == 'new') ? 'new_'.$this->UsuarioIdentity()->getId() : $this->id*/ ?>

                    <?php echo $this->partial('admin/partial/upload',
                        array('qtd_images'        => 200,
                            'max_width'           => 800,
                            'max_height'          => 800,
                            'folder'              => 'presentation',
                            'id'                  => $id,
                            'max_width_thumbnail' => 40,
                            'max_height_thumbnail'=> 40,
                            'id_plugin'           => 1)); ?>
                </div>
                <div class="modal-footer">
                    <button type="button" id="bt-remove-image" class="btn btn-danger" data-dismiss="modal">Remover imagem de fundo</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Start Presentation -->
    <?php echo $this->partial('admin/partial/dlg-presentation-start'); ?>

</section><!-- /.content -->

<div class="loading" style="">
    <i class="fa fa-spinner fa-pulse"></i>
    <span>Salvando...</span>
</div>

<?php $this->inlineScript() ?>
