<?php $this->layout('layout/admin'); ?>

<?php
$this->headLink()->prependStylesheet($this->basePath('plugins/msg-box/theme/default.min.css'))
                 ->prependStylesheet($this->basePath('css/admin-presentation-index.css'))
?>

<?php
$this->headScript()->appendFile($this->basePath('plugins/msg-box/jquery.msgBox.min.js'))
                   ->appendFile($this->basePath('js/admin-presentation-index.js'));
?>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Apresentações
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-home"></i> Início</a></li>
        <li><span>Apresentações</span></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <?php echo $this->alertMessage(); ?>
    <div class="row">

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-list-alt"></i>
                    <h3 class="box-title">Lista de Apresentações</h3>
                    <div class="btn-group pull-right">
                        <button type="button" id="bt-new" class="btn btn-default" data-toggle="modal" data-target="#modal-new"><i class="fa fa-plus"></i>  Nova apresentação</button>
                    </div>
                </div>

                <div class="box-body">

                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th width="10px">Cód</th>
                            <th>Nome</th>
                            <th width="250px">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        /** @var \Admin\Entity\Presentation $presentation */
                        foreach ($this->data as $presentation): ?>
                            <tr>
                                <td><?php echo $presentation->getId(); ?></td>
                                <td><?php echo $presentation->getName(); ?></td>
                                <td>
                                    <a class="btn btn-default" href="<?php echo $this->url('admin-presentation/default', ['action' => 'edit',   'id' => $presentation->getId()]); ?>" title="Editar a apresentação"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-default" href="<?php echo $this->url('admin-presentation/default', ['action' => 'copy',   'id' => $presentation->getId()]); ?>" title="Duplicar apresentação"><i class="fa fa-files-o"></i></a>
                                    <a class="btn btn-default delete" data-id="<?php echo $presentation->getId();?>" data-url="<?php echo $this->url('admin-presentation/default', ['action' => 'delete', 'id' => $presentation->getId()]); ?>" href="#" title="Excluir a apresentação"><i class="fa fa-trash-o"></i></a>
                                    <a class="start-presentation btn btn-default <?php echo $presentation->isRunnable() ? 'btn-runnable' : null;?>" href="#" data-toggle="modal" data-target="#modal-start" title="Iniciar apresentação" data-token="<?php echo $presentation->getToken();?>"><i class="fa fa-play"></i></a>
                                    <a class="btn btn-default" href="<?php echo $presentation->isRunnable() ? $this->url('admin-presentation/default', ['action' => 'stop',   'id' => $presentation->getId()]) : 'javascript:void()'; ?>" title="Parar apresentação"><i class="fa fa-stop"></i></a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->

<!-- Modal New -->
<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-plus"></i> Nova apresentação</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" id="presentation-title" placeholder="Titulo da apresentação" class="tool_tip form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="bt-save" class="btn btn-default">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<?php echo $this->partial('admin/partial/dlg-presentation-start'); ?>
