<?php $this->layout('layout/admin'); ?>

<?php
$this->headLink()
    ->prependStylesheet($this->basePath('css/admin-help.css'))
?>

<!-- Main content -->
<section class="content">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ajuda
        <small>& perguntas frequentes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-home"></i> Início</a></li>
        <li><span>Ajuda</span></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <br />
    <p>Olá, aqui descritas as principais funcionalidades e dúvidas frequentes.</p>
<!--    <p>Caso não encontre o que procura, por favor entre em contato conosco através do e-mail <a href="mailto:abc.tcc@tcc.com.br?Subject=Ajuda Kommuni" target="_top">contato</a> para que possamos solucionar a sua dúvida e melhorar esta página.</p>-->
    <br />

    <div class="row">
        <div class="col-md-12">
        <div class="box box-default collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Seja bem vindo!</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body" style="display: none;">
                <div class="text-center">
                    <img src="/images/kommuni/tela-inicial.png" />
                </div>
                <div class="text-center">
                    <p>Esta é tela inicial do Kommuni,</p> <h4><b>seja Bem Vindo!</b></h4>
                </div>
            </div><!-- /.box-body -->
        </div>
        </div><!-- /.col -->
    </div><!-- /.row -->


    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Gerencie suas Apresentações</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body" style="display: none;">

                    <div class="row">
                        <div class="col-md-7">
                            <img src="/images/kommuni/lista-apresentacoes.png" />
                        </div>
                        <div class="col-md-5">
                            <p><h4><b>Gerencie suas apresentações! <span style="font-size: 30px;">;)</span></b></h4>Nesta tela serão listadas as suas apresentações, você poderá gerenciar e customizar da forma que quiser, vamos lá, use a imaginação e <b>mãos a obra!!!</b>.</p>
                            <div class="mascote"></div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-5">

                            <h4><b>Use a criatividade!  <span style="font-size: 30px;">=)</span></b></h4>
                            <p>Aqui você poderá usar a imaginação e criar suas apresentações, é fácil! <b>vamos lá.</b> </p>
                            <p>
                               O Kommuni disponibiliza 3 abas principais como demonstrado na ao lado,
                               dispostas por tipo de funcionalidade, são elas, página inicial,
                               inserir e apresentação.
                            </p>
                        </div>

                        <div class="col-md-7 pull-right">
                            <img src="/images/kommuni/tela-edicao-apresentacao.png" />
                        </div>
                    </div>

                    <hr />

                    <div class="row">

                        <div class="col-md-7">
                            <img src="/images/kommuni/tela-edicao-apresentacao.png" />
                        </div>

                        <div class="col-md-5">

                            <h4><b><span style="font-size: 30px;">:D</span>,  É só alguns cliques!</b></h4>
                            <p>Formate seus textos como <b>você gosta.</b></p>
                            <p>
                                Na aba da página inicial, é possível realizar
                                alterações no texto conforme explicações a seguir:
                            </p>
                            <ul>
                                <li><b>Fragmento:</b> serve para deixar o texto em oculto e mostrar posteriormente clicando em próximo.</li>
                                <li><b>Fontes:</b> você poderá escolher o tipo de fonte e tamanho, selecionar as palavras e alterar para negrito, itálico ou sublinhado e escolher a cor da fonte.</li>
                                <li><b>Parágrafo:</b> nesta seção você pode escolher o alinhamento, optando por alinhar a esquerda, centralizar, alinhar a direita ou justificar, aumentar ou diminuir recuo e alterar o espaçamento entre as linhas.</li>
                                <li><b>Plano de fundo:</b> além da formatação das palavras, é possível alterar a cor do plano de fundo do slide ou inserir imagem de fundo.</li>
                            </ul>
                        </div>

                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-5">

                            <h4><b>Compartilhe suas ideias!  <span style="font-size: 30px;">:)</span></b></h4>
                            <p>Insira dados que você <b>gosta de compartilhar.</b></p>
                            <p>Aqui você poderá inserir ou remover slides, inserir título, texto, lista com marcadores ou numeradas, tabela ou imagem.</p>
                            <p>Você poderá inserir slides de 3 (três) tipos diferentes, conforme explicações a seguir:</p>
                            <ul>
                                <li><b>Comum:</b> ao criar um slide comum, você poderá colocar os textos referente a apresentação.</li>
                                <li><b>Questão:</b> ao criar um slide de questão, você poderá inserir questões com respostas já definidas para escolha, onde a plateia poderá responder por meio de seus dispositivos conectados a apresentação.</li>
                                <li><b>Perguntas:</b> ao criar um slide de perguntas, você poderá disponibilizar um espaço para perguntas, onde a plateia envia suas dúvidas.</li>
                            </ul>
                        </div>
                        <!--                        Compartilhe suas ideias-->
                        <div class="col-md-7 pull-right">
                            <img src="/images/kommuni/tela-inserir-apresentacao.png" />
                        </div>
                    </div>

                    <hr />

                    <div class="row">

                        <div class="col-md-7">
                            <img src="/images/kommuni/tela-iniciar-apresentacao.png" />
                        </div>

                        <div class="col-md-5">

                            <h4><b><span style="font-size: 30px;">=]</span>,  Vamos lá... está quase!</b></h4>
                            <p>Faça as pessoas <b>lembrarem de você,</b> utilize nomes e efeitos que impressionarão.</p>
                            <p>Na tela de edição da apresentação, você consiguirá realizar algumas alterações referente a apresentação, conforme explicações a seguir:</p>
                            <ul>
                                <li><b>Título:</b> altere o nome da apresentação como desejar.</li>
                                <li><b>Transição:</b> serve para alterar o tipo de transição na troca de cada slide, podendo escolher tipos diferentes de efeitos.</li>
                                <li><b>Download em PDF:</b> ao selecionar, você estará disponibilizando a apresentação no término com um botão de download no formato PDF.</li>
                                <li><b>Moderador:</b> serve para cadastrar palavras censuradas que será enviada pela plateia nos slides de perguntas, não está de acordo com o contexto que você irá falar <b>bloqueie!</b></li>
                                <li><b>Apresentação:</b> poderá salvar após realizar as alterações nos slides, fazer uma pré visualização da apresentação antes de iniciar, verificar dados estatísticos de apresentações já realizadas e iniciar a apresentação.</li>
                            </ul>
                        </div>

                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-5">

                            <h4><b>Vamos inciar uma apresentação? ok... <span style="font-size: 30px;">:P</span></b></h4>
                            <p>Vamos <b>lhe ajudar...</b> pode ter certeza!</b></p>
                            <p>
                                A tela de iniciar apresentação solicita as informações que irá facilitar uma posterior busca por estatísticas da apresentação.
                                Neste momento é necessário informar qual será o local da apresentação e a quantidade aproximada de pessoas que irá participar da palestra.
                                Lembre-se, você poderá iniciar sua apresentação diretamente pela tela de edição ou na listagem de apresentações.</p>
                            <hr />
                            <div class="text-center">
                                <h4>Você iniciou sua apresentação! Boa Sorte!</h4>
                            </div>
                        </div>

                        <div class="col-md-7 pull-right">
                            <img src="/images/kommuni/iniciar-apresentacao.png" />
                        </div>
                    </div>

                </div><!-- /.box-body -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Visualize Relatórios</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body" style="display: none;">

                    <div class="row">
                        <div class="col-md-7">
                            <img src="/images/kommuni/tela-lista-relatorio.png" />
                        </div>
                        <div class="col-md-5">
                            <p><h4><b>Eu lhe avisei que iríamos te ajudar! <span style="font-size: 30px;">;)</span></b></h4>
                            Nesta tela serão listadas as suas apresentações, você poderá visualizar os dados estatísticos por apresentação realizada, é importante para <b>sua validação!</b>.</p>
                            <div class="mascote"></div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-5">

                            <h4><b>Isso é muito importante!  <span style="font-size: 30px;">=)</span></b></h4>
                            <p>Aqui você poderá rever como foi a <b>interação e o feedback do seu público.</b> </p>
                            <p>
                                Nesta tela será exibido os dados estatísticos das apresentações já realizadas,
                                onde informa o horário, data e local  que foi realizado a apresentação, quantidade de pessoas que responderam
                                as questões e quais foram as perguntas realizadas pela plateia.
                            </p>

                            <div class="text-center">
                                <h4>Vamos lá! Repense, inove e impressione nas próximas apresentações!</h4>
                            </div>
                        </div>

                        <div class="col-md-7 pull-right">
                            <img src="/images/kommuni/tela-estatistica.png" />
                        </div>
                    </div>

                </div><!-- /.box-body -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Gerencie seus dados</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body" style="display: none;">

                    <div class="row">
                        <div class="col-md-7">
                            <img src="/images/kommuni/tela-usuario.png" />
                        </div>
                        <div class="col-md-5">
                            <p><h4><b>Caso precise... altere seus dados! <span style="font-size: 30px;">:)</span></b></h4>
                            Nesta tela você poderá alterar <b>seus dados</b>, incluse seu e-mail de acesso a ferramenta.</p>
                            <div class="mascote"></div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-5">

                            <h4><b>Renovar a senha, sempre é bom... é seguro!  <span style="font-size: 30px;">:P</span></b></h4>
                            <p>
                                Nesta tela você poderá alterar sua senha, digitanto a anterior e confirmando a senha nova duas vezes.
                            </p>

                            <div class="text-center">
                                <h4>Fique a vontade! Os dados são seus!</h4>
                            </div>
                        </div>

                        <div class="col-md-7 pull-right">
                            <img src="/images/kommuni/tela-senha.png" />
                        </div>
                    </div>

                </div><!-- /.box-body -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">Mensagens e alertas</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body" style="display: none;">
                    <div class="alert alert-danger alert-dismissable">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Mensagem de Erro</b>, exibida para relatar algum possível erro da aplicação (caso encontre esta mensagem, entre em contato com o adiministrador e informe a mensagem apresentada).
                    </div>
                    <div class="alert alert-info alert-dismissable">
                        <i class="fa fa-info"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Mensagem de Informação</b>, exibida principalmente para informar o usuário sobre algum equivoco ou alguma informação importante.
                    </div>
                    <div class="alert alert-warning alert-dismissable">
                        <i class="fa fa-warning"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Mensagem de Alerta</b>, exibida principalmente para alertar sobre o preenchimento incorreto de informações (esta mensagem não permite o proseguimento da aplicação até que sejam corrigidos os problemas relatados).
                    </div>
                    <div class="alert alert-success alert-dismissable">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>Mensagem de Sucesso</b> Exibida principalmente na finalização de processos informando o sucesso da operação.
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->

</section><!-- /.content -->
	
