<?php $this->layout('layout/login'); ?>
<?php
/** @var \Zend\Form\FormInterface $form */
$form = $this->form->get('user');
$this->form->setAttribute('action', $this->url('admin-account'));
$this->form->prepare();
?>

<div class="login-box panel">
    <div class="panel-heading">
        <img src="/images/kommuni.png"  style="width: 313px;margin: 0 auto;display: block;"/>
    </div>
    <div class="login-box-body">

        <?php echo $this->alertMessage(); ?>

        <?php echo $this->form()->openTag($this->form) ?>

        <div class="form-group">
            <?php echo $this->formHidden($form->get('id')) ?>
            <?php echo $this->formHidden($this->form->get('security')) ?>
            <?php echo $this->firstElementError($this->form->get('security')); ?>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <?php echo $this->formInput($form->get('name')) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('name')); ?>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <?php echo $this->formInput($form->get('mail')) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('mail')); ?>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                <?php echo $this->formInput($form->get('password')) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('password')); ?>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                <?php echo $this->formInput($form->get('confirmation')) ?>
            </div>
            <?php echo $this->formElementErrors($form->get('confirmation')); ?>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">INSCREVER-SE</button>
            </div><!-- /.col -->
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div style="border-top: 1px solid#888; padding-top:15px;margin-top: 15px;">
                    Já tem uma conta?
                    <a href="<?php echo $this->url('admin-login');?>">Entre agora!</a>
                </div>
            </div>
        </div>

        <?php echo $this->form()->closeTag() ?>
    </div>
</div>