<?php $this->layout('layout/admin'); ?>

<?php
$this->headLink()
    ->prependStylesheet($this->basePath('css/admin-presentation-index.css'))
?>

<?php
$this->headScript()
    ->appendFile($this->basePath('js/admin-presentation-index.js'));
?>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Estatísticas
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-home"></i> Início</a></li>
        <li><span>Estatísticas</span></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <?php echo $this->alertMessage(); ?>
    <div class="row">

        <!-- Box -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <i class="fa fa-list-alt"></i>
                    <h3 class="box-title">Dados estatísticos de apresentações realizadas</h3>
                </div>

                <div class="box-body">

                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th width="10px">Cód</th>
                            <th>Nome</th>
                            <th width="60px">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        /** @var \Admin\Entity\Presentation $presentation */
                        foreach ($this->data as $presentation): ?>
                            <tr>
                                <td><?php echo $presentation->getId(); ?></td>
                                <td><?php echo $presentation->getName(); ?></td>
                                <td>
                                    <a class="btn btn-default" href="<?php echo $this->url('admin-statistics/default', ['action' => 'view',   'id' => $presentation->getId()]); ?>" title="Visualizar"><i class="fa fa-eye"></i></a>
<!--                                    <a class="btn btn-default" href="--><?php //echo $this->url('admin-statistics/default', ['action' => 'delete', 'id' => $presentation->getId()]); ?><!--" title="Excluir"><i class="fa fa-trash-o"></i></a>-->
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->
