<?php $this->layout('layout/admin'); ?>

<?php $this->headLink()->prependStylesheet($this->basePath('/css/statistics.css'));?>

<?php
/** @var \Admin\Entity\Presentation $presentation */
$presentation = $this->presentation;?>
<!-- Main content -->
<section class="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Estatísticas
            <small><?php echo $presentation->getName();?></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-home"></i> Início</a></li>
            <li><a href="<?php echo $this->url('admin-statistics') ?>"><i class="fa fa-home"></i> Estatísticas</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <?php echo $this->alertMessage(); ?>
        <div class="row">
            <!-- Box -->
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <i class="fa fa-list-alt"></i>
                        <h3 class="box-title">Dados estatísticos</h3>
                    </div>

                    <div class="box-body">
                        <?php
                        /** @var \Admin\Entity\Report $report */
                        foreach($presentation->getReports() as $report):?>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-default collapsed-box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">
                                                <?php $amount = $report->getAmountPeople() ? $report->getAmountPeople() . ' pessoas' : 'Não informado';?>
                                                <?php echo $report->getLocal() . ' - ' . $this->dateFormat($report->getCreated(), IntlDateFormatter::MEDIUM, IntlDateFormatter::SHORT, 'pt_BR') . ' - ' . $amount;?>
                                            </h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                            </div><!-- /.box-tools -->
                                        </div><!-- /.box-header -->
                                        <div class="box-body" style="display: none;">

                                            <table class="table table-striped table-condensed">
                                                <tbody>
                                                <?php
                                                /** @var \Admin\Entity\ReportRegistry $record */
                                                foreach ($report->getRecords() as $record): ?>
                                                    <tr>
                                                        <td><?php echo \Admin\Enum\ReportRegistryType::get($record->getType());?>:</td>
                                                    </tr>
                                                    <tr>
                                                        <td><?php echo $record->getRegistry();?></td>
                                                    </tr>
                                                <?php endforeach; ?>
                                                </tbody>
                                            </table>

                                        </div><!-- /.box-body -->
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->

	
