<!-- Modal Start -->
<div class="modal fade" id="modal-start" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Iniciar apresentação</h4>
            </div>
            <div class="modal-body">
                <div class="callout callout-info" style="margin-bottom: 0!important;">
                    <i class="fa fa-info"></i> Estas informações irão facilitar a posterior busca por estatísticas da apresentação.
                </div>
                <br />
                <div class="form-group">
                    <input type="hidden" id="presentation-token" />
                    <input type="hidden" id="presentation-user" value="<?php echo $this->UserIdentity()->getId();?>"/>
                    <label for="presentation-local">
                        <label class="control-label required" for="mail">Qual o Local? </label>
                    </label>
                    <input type="text" id="presentation-local" class="tool_tip form-control" placeholder="Local da apresentação" />
                </div>

                <div class="form-group">
                    <label for="presentation-local">
                        <label class="control-label required" for="mail">Quantas pessoas aproximadamente? </label>
                    </label>
                    <input type="text" id="presentation-amount-people" class="tool_tip form-control" placeholder="Quantidade" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="bt-start" class="btn btn-default">Iniciar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
