<ul class="sidebar-menu">
    <?php foreach ($this->container as $page):?>
    <li class="<?php echo $this->HMenuAtivo($page->getRoute()) ?>">
        <a href="<?php echo $this->url($page->getRoute())?>">
            <i class="<?php echo $page->getClass() ?>"></i> <span><?php echo $page->getLabel() ?></span>
        </a>
    </li>
    <?php endforeach; ?>
</ul>