.radius(@corner : 5px){
  -moz-border-radius: @corner;
  -webkit-border-radius: @corner;
  -ms-border-radius: @corner;
  -o-border-radius: @corner;
  border-radius: @corner;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.transition(@transition-property : all, @duration : 300ms, @timing-function : ease-out, @delay : 0s) {
  -khtml-transition: @transition-property @duration @timing-function @delay;
  -ms-transition: @transition-property @duration @timing-function @delay;
  -moz-transition: @transition-property @duration @timing-function @delay;
  -webkit-transition: @transition-property @duration @timing-function @delay;
  -o-transition: @transition-property @duration @timing-function @delay;
  transition: @transition-property @duration @timing-function @delay;
}

.box-shadow(@horizontal: 0, @vertical: 2px, @blur: 3px, @r: 0, @g: 0, @b: 0, @alpha: 0.3) {
  -moz-box-shadow: @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
  -o-box-shadow: @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
  -webkit-box-shadow: @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
  box-shadow: @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
}
.inset-box-shadow(@horizontal: 0, @vertical: 2px, @blur: 3px, @r: 0, @g: 0, @b: 0, @alpha: 0.3) {
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
  -o-box-shadow: inset @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(@r, @g, @b, @alpha);
}

.box-shadow-both(@horizontal1: 0, @vertical1: 2px, @blur1: 3px, @r1: 0, @g1: 0, @b1: 0, @alpha1: 0.3, @horizontal2: 0, @vertical2: 2px, @blur2: 3px, @r2: 255, @g2: 255, @b2: 255, @alpha2: 0.3) {
  -moz-box-shadow: @horizontal1 @vertical1 @blur1 rgba(@r1, @g1, @b1, @alpha1),
  inset @horizontal2 @vertical2 @blur2 rgba(@r2, @g2, @b2, @alpha2);
  -o-box-shadow: @horizontal1 @vertical1 @blur1 rgba(@r1, @g1, @b1, @alpha1),
  inset @horizontal2 @vertical2 @blur2 rgba(@r2, @g2, @b2, @alpha2);
  -webkit-box-shadow: @horizontal1 @vertical1 @blur1 rgba(@r1, @g1, @b1, @alpha1),
  inset @horizontal2 @vertical2 @blur2 rgba(@r2, @g2, @b2, @alpha2);
  box-shadow: @horizontal1 @vertical1 @blur1 rgba(@r1, @g1, @b1, @alpha1),
  inset @horizontal2 @vertical2 @blur2 rgba(@r2, @g2, @b2, @alpha2);
}

.box-shadow-none {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: 	@opacity;
  -moz-opacity: @opacity;
  opacity: 		@opacity;
}

.gradient(@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.gradient-horizontal(@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.reset-appearance {
  background: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


.placeholder(@color) {
  &::-webkit-input-placeholder {
    font-weight: lighter;
    font-style: italic;
    color: @color;
  }
  &:-moz-placeholder {
    font-weight: lighter;
    font-style: italic;
    color: @color;
  }
}

.clear-both {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.clear-left {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: left;
}

.clear-right {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: right;
}