<div style="border: 1px solid #ccc">

    <div style="padding:0 20px;">
        <div>
<!--            <img src="http://www.cbitechnology.com.br/app.images/logo/10/thumbnail/logo_automoto.png" alt="Portal EAP" />-->
            CBI Technology
        </div>
    </div>

    <div style="background-color: #f5f5f5; padding: 20px;">
        <span style="color:#666; font-size: 17px;">
            <b>Enviado através da parte administrativa do site pelo cliente <?php echo $this->nome;?></b>
        </span>
    </div>

    <div style="padding: 20px;">

        <table style="color:#666; border-spacing: 5px;">
            <tbody>
                <tr><td><b>Assunto: </b></td><td><?php echo $this->assunto ?></td></tr>
                <tr><td><b>Mensagem: </b></td><td><?php echo $this->mensagem ?></td></tr>
            </tbody>
        </table>

    </div>

    <div style="background-color: #f5f5f5; padding: 20px;">
        <p>Powered by <a href="http://discoverytecnologia.com.br" target="_blank">Discovery Tecnologia</a></p>
    </div>

</div>
