
<?php $this->headScript()->prependFile($this->basePath('/js/nickname.js'));?>

<div class="nickname">
    <h1>Digite seu apelido</h1>
    <p><input type="text" placeholder="Algo como: Aluno" name="nickname" /></p>

    <div class="button">
        <span>OK</span>
    </div>

    <div class="ajax" style="display: none;">
        <i class="fa fa-spinner fa-pulse" style="font-size: 30px;"></i>
    </div>
    <div class="message"></div>
</div>