<?php $this->layout('layout/admin'); ?>

<!-- Main content -->
<section class="content">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bem Vindo
        <small>Kommuni 1.0 BETA</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo $this->url('admin-index') ?>"><i class="fa fa-home"></i> Início</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <img src="/images/kommuni_mascote.png" alt="Kommuni" style="display: block; margin: 0 auto; max-width: 45%"/>
</section><!-- /.content -->
	
